<md-dialog class="addEmployeeDialogBox" ng-class="{minmizeDialog:minimize}" show-gt-sm aria-label="Add Request">
    <form name="addEmployeeForm" ng-submit="" novalidate="" enctype="multipart/form-data">
        <md-toolbar style="min-height:50px !important;">
            <div show-gt-sm id="request_toolbar" class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <p class="autoMargin" style="padding-left:9.797px;">New Employee</p>
                <span layout="row" flex></span>
                <a href=""><i class="outline-none" ng-click="minimize=!minimize"><md-icon class="icon-color-grey margin-right-10px" md-svg-src="images/remove_24px.svg" aria-label="minimize dialog"></md-icon></i></a>
                <a href=""><i class="outline-none" ng-click="closeDialog()"><md-icon class="icon-color-grey margin-right-5px" md-svg-src="images/close_18px.svg" aria-label="Close dialog"></md-icon></i></a>
            </div>
        </md-toolbar>
        <md-dialog-content style="height:auto !important;padding-top:18px;">
            <div class="emp-basic-detail-div">

                <section class="height-fixed" layout="row">
                    <md-input-container class="md-block" flex>
                        <label>First Name</label>
                        <input ng-pattern="/^[a-zA-Z]*$/" maxlength="40" required type="text" ng-model="emp.fName" />
                    </md-input-container>
                </section>

                <section class="height-fixed" layout="row">
                    <md-input-container class="md-block" flex>
                        <label>Last Name</label>
                        <input ng-pattern="/^[a-zA-Z]*$/" maxlength="40" required type="text" ng-model="emp.lName" />
                    </md-input-container>
                </section>

                <section class="height-fixed" layout="row">
                    <md-input-container class="md-block" flex>
                        <label>Designation</label>
                        <md-select ng-model="team.designation">
                            <md-option ng-repeat="emp in empData" value="{{emp.designation}}">
                                {{emp.designation}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </section>
                <section class="height-fixed" layout="row">
                    <md-input-container class="md-block" flex>
                        <label>Manager Name</label>
                        <md-select ng-model="emp.managerName">
                            <md-option ng-repeat="empList in empData" value="{{empList.name}}">
                                {{emp.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </section>
                <section class="height-fixed" layout="row">
                    <md-input-container class="md-block" flex>
                        <label>Department</label>
                        <md-select ng-model="emp.department">
                            <md-option ng-repeat="d in dummy" value="{{d}}">
                                {{d}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </section>
                <section class="height-fixed" layout="row">
                    <md-input-container class="md-block" flex>
                        <label>Employee Type</label>
                        <md-select ng-model="emp.type">
                            <md-option ng-repeat="d in dummy" value="{{d}}">
                                {{d}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </section>
                <section class="height-fixed" layout="row">
                    <md-input-container class="md-block" flex>
                        <label>Employee Status</label>
                        <md-select ng-model="emp.status">
                            <md-option ng-repeat="d in dummy" value="{{d}}">
                                {{d}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </section>
            </div>
        </md-dialog-content>

        <md-dialog-actions Style="padding-left:24px;">
            <md-button class="md-raised md-primary" type="submit" style="margin-right:20px; margin-bottom:15px;">
                Submit
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
