<div ng-if="screen ==='AdminSpace' && globals.currentUser.token && !globals.currentUser.freshLogin" ng-controller="AddNewEmployeeCtrl">
    <md-fab-speed-dial class="md-scale md-fab-bottom-right md-hover-full">
        <md-fab-trigger>
            <md-button style="background-color:#4dbfd9;" ng-click="addEmployee($event, 'Personal Details' , '#4dbfd9', '#82d2e4', 'main/views/personalinfo_edit_form.html')" aria-label="menu" class=" md-fab md-warn">
                <md-tooltip id="toolDir" md-direction="left">Add</md-tooltip>
                <ng-md-icon icon="add" resting-icon="add" aria-label="Apply"></ng-md-icon>
            </md-button>
        </md-fab-trigger>
    </md-fab-speed-dial>
</div>
