<!-- Leave Summary -->
<div>
	<!-- <div ng-include="'employee/views/emp_leave_summary.html'"></div> -->
	<md-card>
		<leave-summary-card employeeid="team.id"></leave-summary-card>
	</md-card>

</div>
<!-- Leave History -->
<md-content ng-controller="AdminMemberSpaceCtrl" id="main" class="light-box-shadow" layout="horizontal" layout-align="center">
	<md-list flex>
		<div id="content">
			<div ng-repeat="h in history">
				<h4 class="historyTitle">{{h.title}}</h4>
				<!-- div based on pending,approved,taken -->
				<div ng-repeat="record in h.data">
					<md-card class="leave-history-item" id="headerWrapper" style="box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.02), 0px 1px 1px 0px rgba(0, 0, 0, 0), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);!important" ng-hide="$index == selectedUserIndex && title == h.title"
									ng-mouseenter="hover = true" ng-mouseleave="hover = false">
						<md-item layout="row">
							<div class="outline-none" style="margin:auto auto auto 20px;" ng-click="leaveDetails($event,$index, h.title, record.leaveRequestId)">
								<md-button id="{{h.title}}" class="md-fab md-mini">{{record.numberOfdays}}</md-button>
							</div>
							<div flex="5"></div>
							<div class="collapsed-row overflow-content outline-none" layout="row" layout-align="start center" flex="">
								<div class="overflow-content outline-none" ng-click="leaveDetails($event, $index, h.title, record.leaveRequestId)" flex>
									<span>{{ record.fromDate | date:'MMM dd , yyyy' }}&nbsp - &nbsp{{ record.toDate | date:'MMM dd , yyyy' }}</span>
									<span> &nbsp&nbsp&nbsp-&nbsp&nbsp&nbsp {{ record.typeOfLeave |capitalize }}</span>
									<span>&nbsp&nbsp&nbsp-&nbsp&nbsp&nbsp{{ record.description |capitalize}}</span>
									<span flex=""></span>
								</div>
							</div>
						</md-item>
					</md-card>

					<!-- detailed view -->
					<md-card id="contentWrapper" ng-show="$index == selectedUserIndex && title == h.title" ng-mouseover="hover = true" ng-mouseout="hover = false">
						<div layout="column" flex>
							<div layout="row" flex $event.stopPropagation()>
								<div class="outline-none" flex="95" ng-click="selectUserIndex($index, h.title)">
									<h4 ng-if="record.numberOfdays<=1" style="margin:19px;">Leave applied for {{record.numberOfdays}} day</h4>
									<h4 ng-if="record.numberOfdays>1" style="margin:19px;">Leave applied for {{record.numberOfdays}} days</h4>
								</div>
								<!-- menubar -->
								<span style="margin:auto">
								</span>
							</div>
							<md-divider></md-divider>
							<md-card-content>

								<md-card>
									<md-card-content style="padding:0%;">

										<div layout="row" layout-xs="column" layout-sm="column">
											<!-- workflow -->
											<div class="workflowDiv">
												<md-toolbar>
													<div class="md-toolbar-tools">
														<span><b>Approval Stage</b></span>
														<span flex></span>
													</div>
												</md-toolbar>
												<md-content flex style="height:auto; max-height:200px">
													<div ng-include="'main/views/timeline_workflow.html'"></div>
												</md-content>
											</div>
											<!-- leave details -->
											<div id="detailLeave">

												<md-card>
													<md-card-content id="leaveHistoryView">
														<detail options="{'imageUrl':'images/when.svg','sectionHead':'When'}" datefilter="date" content="record"></detail>
														<p></p>
														<p></p>
														<detail options="{'imageUrl':'images/Type.svg','sectionHead':'Leave Type'}" datefilter="capitalize" content="record.typeOfLeave"></detail>
														<p></p>
														<p></p>
														<detail options="{'imageUrl':'images/status.svg','sectionHead':'Status'}" datefilter="capitalize" content="record.status"></detail>
														<p></p>
														<p></p>
														<detail options="{'imageUrl':'images/reason.svg','sectionHead':'Reason'}" datefilter="capitalize" content="record.description"></detail>
													</md-card-content>
												</md-card>

											</div>

										</div>

									</md-card-content>
								</md-card>

							</md-card-content>
						</div>
					</md-card>
					<!-- end of detailed view -->

				</div>
				<!-- end -div based on pending,approved,taken -->
			</div>
		</div>
		<!-- end of content -->
	</md-list>
</md-content>
