<md-card class="my-team-card">
    <center ng-show='progress'>
        <md-progress-circular md-mode='{{progress_mode}}' md-diameter="70"></md-progress-circular>
    </center>

    <!-- <tr>
        <td align="right">Search :</td>
        <td><input ng-model="query[queryBy]" /></td>
    </tr> -->

    <div ng-repeat="empList in empData">
        <h4 class="tool-header monthTitle">{{empList.title}}</h4>

        <md-content class="my-team-card-content" ng-repeat="team in empList.data | filter:query">
            <!-- collasable view -->

            <md-card class="collapsed-row outline-none team-name-card light-box-shadow" ng-hide="$index == selectedUserIndex1 && title1 == empList.title">
                <md-content class="team-name-content" layout="row">
                    <div layout="row" class="team-name-div outline-none" flex>
                        <div class="avatar-div" style="" ng-click="memberDetails($index,team.id,empList.title);"><img ng-src="images/alphabets/{{team.firstName.charAt(0)|uppercase}}.png" class="avatar">
                        </div>
                        <div class="outline-none overflow-content" style="padding-top:5px;" layout="row" ng-click="memberDetails($event,$index, team.id,empList.title)" flex>
                            <div class="overflow-content" style="padding-left:10px;min-width:150px; width:150px">{{ team.firstName|capitalize}} {{ team.lastName|capitalize}}</div>
                            <div class="overflow-content" style="width:80%">
                                <p class="overflow-content" style="margin-left:10px;">{{ team.empId }}&nbsp - &nbsp{{ team.designation | capitalize }}&nbsp - &nbsp {{team.phoneNo}}&nbsp&nbsp-&nbsp &nbsp{{team.email}}</p>
                                <div class="overflow-content" layout="row" layout-sm="column" layout-xs="column">
                                    <div style="margin-left:10px;" class="chip-card" layout="row">
                                        <div style="background-color:{{colors.totalLeaves}}" class="team-chip-number">{{team.leaveStatistics.totalLeaves}}</div>
                                        <div class="chip-content overflow-content">Total</div>
                                    </div>
                                    <div style="margin-left:10px;height:10px;"></div>
                                    <div style="margin-left:10px;" class="chip-card" layout="row">
                                        <div style="background-color:{{colors.remaining}}" class="team-chip-number">{{team.leaveStatistics.remaining}}</div>
                                        <div class="chip-content overflow-content">Available</div>
                                    </div>
                                    <div style="margin-left:10px;height:10px;"></div>
                                    <div style="margin-left:10px;" class="chip-card" layout="row">
                                        <div style="background-color:{{colors.privilege}}" class="team-chip-number">{{team.leaveStatistics.privilege}}</div>
                                        <div class="chip-content overflow-content">Privilege</div>
                                    </div>
                                    <div style="margin-left:10px;" class="chip-card" layout="row">
                                        <div style="background-color:{{colors.LOP}}" class="team-chip-number">{{team.leaveStatistics.LOP}}</div>
                                        <div class="chip-content overflow-content">Loss of Pay</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-card>


            <!-- expandable view -->

            <md-card class="collapsed-row outline-none team-name-card-detail" ng-show="$index == selectedUserIndex1 && title1 == empList.title">
                <md-content class="team-name-content-detail">
                    <div class="outline-none" ng-click="selectUserIndex1($index, list.title)">
                        <h4 class="margin-two">{{team.firstName | capitalize}}  {{team.lastName | capitalize}}</h4>
                        <md-divider></md-divider>
                    </div>
                    <md-card style="box-shadow:none; margin:2% !important;">
                        <md-card-content style="padding:0%;">



                            <div>
                                <!-- profile div -->
                                <div class="profile-div " layout="row">

                                    <!-- pic div -->
                                    <div class="pic-div " flex="30" flex-sm="50" flex-xs="100">

                                        <img style="margin: 65px auto 0px auto;" ng-src="images/profile_alter.jpg" class="profile-avatar">
                                        <center>
                                            <h4 class="user-name-header">{{team.firstName | capitalize}}  {{team.lastName | capitalize}}</h4>
                                            <p class="user-name-header">{{team.empId}}</p>
                                            <p class="user-name-header">{{user.email}}</p>
                                            <p class="user-name-header">{{team.phoneNo}}</p>

                                        </center>

                                    </div>
                                    <!-- pic div end-->

                                    <!-- cover div -->
                                    <div class="cover-div" flex="70" flex-sm="50" flex-xs="0"></div>
                                    <!-- cover div end-->

                                </div>
                                <!-- profile div end-->

                                <!-- toolbar menu -->
                                <div class="sub-menu-tab-div tab-div" layout="row" layout-align="space-between center" flex>
                                    <div layout="row" style="height:55px;">
                                        <md-button ng-click="tabFunction('PROFILE INFO', 'main/views/about.html')" class="tab-button" ng-class="{tabButtonActive:buttonTitle=='PROFILE INFO'}">PROFILE INFO</md-button>
                                        <md-button ng-click="tabFunction('LEAVE INFO', 'administration/views/admin_member_space.html')" class="tab-button" ng-class="{tabButtonActive:buttonTitle=='LEAVE INFO'}">LEAVE INFO</md-button>
                                    </div>

                                    <div layout="row" hide-xs>
                                        <div layout="row" style=" margin:auto 5px" ng-if="team.active ==='1'" class="md-1-line ">
                                            <p style=" margin:auto 10px auto 5px; font-weight:bold;">Active Since</p>
                                            <p class="section-content autoMargin">{{user.activeInactiveDate |date}}</p>
                                        </div>

                                        <div layout="row" style=" margin:auto 0px" ng-if="team.active ==='0'" class="md-1-line ">
                                            <p style=" margin:auto 10px auto 10px;font-weight:bold;">Inactive On</p>
                                            <p class="section-content autoMargin">{{user.activeInactiveDate|date}}</p>
                                        </div>

                                        <md-switch ng-change="changeStatus(team.id, team.active)" class="md-primary autoMargin" md-no-ink aria-label="Switch No Ink" ng-model="team.active" ng-true-value="'1'" ng-false-value="'0'"></md-switch>

                                    </div>
                                </div>
                                <!-- toolbar menu end -->

                                <div ng-switch on="buttonTitle">
                                    <div ng-switch-when="LEAVE INFO">
                                        <div ng-if="$index == selectedUserIndex1 && title1 == empList.title" ng-include="'administration/views/admin_member_space.html'"></div>
                                    </div>
                                    <div ng-switch-when="PROFILE INFO">
                                        <div ng-if="$index == selectedUserIndex1 && title1 == empList.title" ng-include="'main/views/about.html'"></div>
                                    </div>

                                </div>

                            </div>

                        </md-card-content>
                    </md-card>

                </md-content>
            </md-card>

        </md-content>
        <!-- end of main md-content -->
    </div>
</md-card>
