<md-card id="loginCard">
    <center>
        <div ng-controller="ForgotPasswordCtrl" id="forgotDiv" flex>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h1 style="margin-left:44%;">LMS</h1>
                </div>
            </md-toolbar>
            <md-content flex style="height:240px; padding:7% 7% 0% 7%;text-align:left">
                <form name="forgotForm">
                    <md-input-container id="loginInputField" class="md-icon-float md-block">
                        <label>User Name</label>
                        <md-icon md-svg-src="images/person.svg" class="name"></md-icon>
                        <input required type="email" name="userEmail" ng-model="user.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                        <div ng-messages="forgotForm.userEmail.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                User Email is required
                            </div>
                        </div>

                    </md-input-container>

                    <md-button ng-click="reset_password(user.email)" id="loginBtn" ng-disabled="forgotForm.$invalid" class="md-raised" type="submit">Submit</md-button>
                </form>
            </md-content>
        </div>
    </center>
</md-card>
