<md-card id="loginCard">
    <center>
        <div id="loginDiv" flex>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h1 style="margin-left:44%;">LMS</h1>
                </div>
            </md-toolbar>
            <md-content flex style="height:auto; padding:7% 7% 0% 7%;text-align:left!important; overflow:hidden;">
                <form name="loginForm" novalidate>

                    <md-input-container id="loginInputField" class="md-icon-float md-block">
                        <label>User Name</label>
                        <md-icon md-svg-src="images/person.svg" class="name"></md-icon>
                        <input required type="email" name="userEmail" ng-model="user.email" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                        <div ng-messages="loginForm.userEmail.$error" ng-messages-multiple>
                            <div ng-message-exp="['required']">
                                User Email is required
                            </div>
                            <div ng-message-exp="['pattern']">
                                Valid Email is required
                            </div>
                        </div>

                    </md-input-container>
                    <md-input-container id="loginInputField" class="md-icon-float md-block">
                        <label>Password</label>
                        <md-icon md-svg-src="images/password.svg" class="name"></md-icon>
                        <input type="password" name="userPassword" ng-model="user.password" minlength="6" maxlength="25" required>
                        <div ng-messages="loginForm.userPassword.$error" multiple="">
                            <div ng-message-exp="['required']">
                                Password is required
                            </div>
                            <div ng-message-exp="['minlength']">
                                Minimum 6 character required
                            </div>

                        </div>
                    </md-input-container>
                    <center class="formErrors">
                        <p>{{message}}</p>
                    </center>
                    <md-button ng-click="loginUser(user,loginForm.$valid)" id="loginBtn" class="md-raised" type="submit">Login</md-button>

                </form>
                <center id="forgotButton">
                    <p ng-click="forgotPass()" id="forgotBtn" class="outline-none">Forgot your Password?</p>
                </center>

            </md-content>
        </div>
    </center>
</md-card>
