<md-card id="loginCard">
    <center>
        <div id="loginDiv" flex>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h1 style="margin-left:23%;">RESET PASSWORD</h1>
                </div>
            </md-toolbar>
            <md-content flex style="height:315px; padding:7% 7% 0% 7%;text-align:left!important">
                <form name="resetForm" novalidate>

                    <md-input-container id="loginInputField" class="md-icon-float md-block">
                        <label>New Password</label>
                        <md-icon md-svg-src="images/newPassword.svg" class="name"></md-icon>
                        <input type="password" name="userPassword" ng-model="user.password" minlength="6" maxlength="25" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required>
                        <div ng-messages="resetForm.userPassword.$error" ng-messages-multiple role="alert">
                            <div ng-message-exp="['pattern']">
                                Must contain one lower &amp; uppercase letter, one non-alpha character and minimum 6 characters
                            </div>
                            <div ng-message-exp="['required']">
                                Password is required
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container id="loginInputField" class="md-icon-float md-block">
                        <label>Confirm Password</label>
                        <md-icon md-svg-src="images/confirmPassword.svg" class="name"></md-icon>
                        <input type="password" name="userRePassword" ng-model="user.re_password" minlength="6" maxlength="25" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required>
                        <div ng-messages="resetForm.userRePassword.$error" ng-messages-multiple role="alert">
                            <div ng-message-exp="['pattern']">
                                Must contain one lower &amp; uppercase letter, one non-alpha character and minimum 6 characters
                            </div>
                            <div ng-message-exp="['required']">
                                Confirm your password
                            </div>
                        </div>
                    </md-input-container>
                    <center class="formErrors">
                        <p>{{errorMessage}}</p>
                    </center>
                    <md-button ng-click="resetPassword(user.password,user.re_password)" id="loginBtn" class="md-raised" type="submit">Reset</md-button>
                </form>

            </md-content>
        </div>
    </center>
</md-card>
