<md-card id="loginCard">
    <center>
        <div ng-controller="ForgotPasswordCtrl" id="loginDiv" flex>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h1 style="margin-left:44%;">LMS</h1>
                </div>
            </md-toolbar>
            <md-content flex style="height:234px; padding:7% 7% 0% 7%;text-align:left!important">

                <center style="padding:16px;">
                    <h5>The confirmation mail has to send to your Email</h5>
                    <h5>Please click on the URL and reset your password</h5>
                </center>

                <md-button class="marginAuto" href="#/login" id="loginBtn" class="md-raised">Back to Login Page</md-button>
            </md-content>
        </div>
    </center>
</md-card>
