<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>LMS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" type="/image/ico" href="/favicon.ico" type="image/x-icon">
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/ng-material-floating-button/mfb/dist/mfb.css" />
    <link rel="stylesheet" href="/bower_components/angular-material-icons/angular-material-icons.css" />
    <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.css" />
    <link rel="stylesheet" href="/bower_components/angular-ui-grid/ui-grid.css" />
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="/bower_components/material/style.css" />
    <link rel="stylesheet" href="/bower_components/angular-timeline/dist/angular-timeline.css" />
    <link rel="stylesheet" href="/bower_components/sweetalert/dist/sweetalert.css" />


    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">

    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"> -->
    <!-- endbuild -->
</head>

<body class="erp-lms" ng-app="yoErpLmsApp" ng-controller="MainCtrl" style="overflow-x: hidden !important;" layout="column">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div ng-if="globals.currentUser.token && !globals.currentUser.freshLogin" ng-include="'main/views/header.html'"></div>

    <div id="main-content" layout="column" flex>

        <div layout="row" flex>

            <div flex="15" flex-sm="10" flex-xs="5" show-gt-md>
                <div class="sideMenuDiv" ng-if="globals.currentUser.token && !globals.currentUser.freshLogin" ng-include="'main/views/side_menu.html'"></div>
                <!--
                <nav  ng-if="globals.currentUser.token && !globals.currentUser.freshLogin " ng-show="toggle" class="sidebar" >
                    <ul>
                        <li ng-class="{'activeView':screen=='MySpace'}" ><a ng-click="changeScreen('MySpace')"><i class="outline-none" ><span ng-class="{'activeView':screen=='MySpace'}">My Space</span></i></a></li>

                        <li ng-if="globals.currentUser.manager==1" ng-class="{'activeView':screen=='Approvals'}"><a ng-click="changeScreen('Approvals')"><i  class="outline-none" ><span ng-class="{'activeView':screen=='Approvals'}">Approvals</span></i></a></li>
                    </ul>
                </nav> -->
            </div>

            <div id="mainContent" flex="70" flex-sm="80">


                <div ng-if="globals.currentUser.token && !globals.currentUser.freshLogin" ng-include="'main/views/subheader.html'"></div>


                <div ng-view=""></div>

                <div ng-if="(globals.currentUser.manager!=1 || view==='MySpace') && globals.currentUser.token && !globals.currentUser.freshLogin" ng-include="'employee/views/apply.html'"></div>
                <div ng-if="screen ==='AdminSpace' && globals.currentUser.token && !globals.currentUser.freshLogin" ng-include="'administration/views/add_employee.html'"></div>

            </div>

            <div flex="15" flex-sm="10" flex-xs="5" show-gt-md>

            </div>

        </div>
        <!-- <div layout-fill></div>
         -->


    </div>





    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
        ! function(A, n, g, u, l, a, r) {
            A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
                    (A[l].q = A[l].q || []).push(arguments)
                }, A[l].l = +new Date, a = n.createElement(g),
                r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
        }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-XXXXX-X');
        ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.js"></script>
    <script src="/bower_components/ng-material-floating-button/src/mfb-directive.js"></script>
    <script src="/bower_components/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="/bower_components/angular-ui-grid/ui-grid.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script>
    <script src="/bower_components/material/js/material.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
    <script src="/bower_components/angular-timeline/dist/angular-timeline.js"></script>
    <script src="/bower_components/ngstorage/ngStorage.js"></script>
    <script src="/bower_components/material-calendar/dist/angular-material-calendar.js"></script>
    <script src="/bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/bower_components/angular-sweetalert/dist/ngSweetAlert.js"></script>
    <script src="/bower_components/angular-sweetalert/dist/ngSweetAlert.min.js"></script>

    <!-- endbower -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="main/app.js"></script>
    <script src="main/scripts/controllers/main.js"></script>
    <script src="main/scripts/controllers/sub_header.js"></script>
    <script src="main/scripts/controllers/user_detail.js"></script>
    <script src="main/scripts/services/sort.js"></script>
    <script src="main/scripts/services/common_data.js"></script>
    <script src="main/scripts/services/color_selector.js"></script>
    <script src="main/scripts/services/leave_type.js"></script>
    <script src="main/scripts/services/leave_action.js"></script>
    <script src="main/scripts/services/api_requests.js"></script>
    <script src="main/scripts/services/dialog_message.js"></script>
    <script src="main/scripts/services/local_variable_store.js"></script>
    <script src="main/scripts/services/web_service.js"></script>
    <script src="main/scripts/services/get_employee_details.js"></script>
    <script src="main/scripts/directives/workflow.js"></script>
    <script src="main/scripts/directives/update.js"></script>
    <script src="main/scripts/directives/leave_summary.js"></script>
    <script src="main/scripts/directives/section_card/detail.js"></script>
    <script src="main/scripts/directives/manager_detail/manager_detail.js"></script>
    <script src="main/scripts/directives/manager_leave_detail/manager_leave_detail.js"></script>
    <script src="main/scripts/directives/leave_summary/leave_summary.js"></script>
    <script src="main/scripts/filters/capitalize.js"></script>

    <script src="login/controllers/login.js"></script>
    <script src="login/controllers/password_reset.js"></script>
    <script src="login/controllers/forgot_password.js"></script>

    <script src="employee/controllers/request_undo.js"></script>
    <script src="employee/controllers/apply_leave.js"></script>
    <script src="employee/controllers/apply.js"></script>
    <script src="employee/controllers/leave_statistic.js"></script>
    <script src="employee/controllers/leave_history.js"></script>
    <script src="employee/controllers/leave_update.js"></script>
    <script src="employee/controllers/update.js"></script>

    <script src="manager/controllers/approvals.js"></script>
    <script src="manager/controllers/my_team.js"></script>
    <script src="manager/controllers/member_space.js"></script>

    <script src="administration/controllers/admin_space.js"></script>
    <script src="administration/controllers/add_new_employee.js"></script>
    <script src="administration/controllers/admin_member_space.js"></script>

    <script src="others/controllers/about.js"></script>
    <script src="others/controllers/history_list.js"></script>
    <script src="others/controllers/home.js"></script>
    <script src="others/controllers/update_leave_eligibility.js"></script>


    <!-- endbuild -->
</body>

</html>
