<!-- content div -->
<div class="profile-content-div" layout="row" layout-xs="column">

    <!-- basic info and personal info -->
    <div class="basic-info-div " flex>
        <div ng-include="'main/views/personalinfo.html'"></div>
        <div ng-include="'main/views/contactinfo.html'"></div>
    </div>
    <!-- basic info and personal info end-->

    <!-- contact info -->
    <div class="contact-info-div" flex>
        <div ng-include="'main/views/basicinfo.html'"></div>
        <div ng-include="'main/views/leave_eligibility.html'"></div>
    </div>
    <!-- contact info end-->

</div>
<!-- content div end-->
