<div style="height:5px; background-color:#8cc474;;">
</div>
<md-card class="basic-info-card ">
    <md-card-content>

        <md-list class="md-dense" flex>
            <md-header class="md-no-sticky">
                <h4 class="info-card-header">Professional Details</h4>
            </md-header>

            <md-list-item class="md-1-line align-center">
                <p class="font-bold">Designation</p>
                <p class="section-content">{{user.designation | capitalize}}</p>
            </md-list-item>

            <md-list-item class="md-1-line align-center">
                <p class="font-bold">Date of Joining</p>
                <p class="section-content">{{user.joiningDate |date}}</p>
            </md-list-item>

            <md-list-item class="md-1-line align-center">
                <p class="font-bold">Department</p>
                <p class="section-content">{{user.department | capitalize}}</p>
            </md-list-item>

            <md-list-item class="md-1-line align-center">
                <p class="font-bold">Manager Name</p>
                <p class="section-content">{{user.managerName | capitalize}}</p>
            </md-list-item>

            <md-list-item class="md-1-line align-center">
                <p class="font-bold">Date of confirmation</p>
                <p class="section-content">{{user.confirmationDate |date}}</p>
            </md-list-item>

            <md-list-item class="md-1-line align-center">
                <p class="font-bold">Level of Approvals</p>
                <p class="section-content">{{user.levelOfApprovalRequired}}</p>
            </md-list-item>

            <a ng-if="view != 'UserDetail'" ng-click="editData($event, 'Professional Details' , '#8cc474', '#aed69e', 'main/views/basicinfo_edit_form.html',user)" class="edit-header">Edit</a>
        </md-list>
    </md-card-content>
</md-card>
