<div class="emp-basic-detail-div">

    <section class="height-fixed" layout="row">
        <md-input-container class="md-block" flex>
            <label>Designation</label>
            <md-select ng-model="team.designationId">
                <md-option ng-repeat="des in designation" value="{{des.keyCode}}">
                    {{des.keyValue}}
                </md-option>
            </md-select>
        </md-input-container>
    </section>

    <section class="height-fixed datepicker-section" layout="row">
        <div class="date-picker-row">
            <label class="datepicker-label">Date of Joining</label>
            <input class="datepicker-input outline-none" type="date" ng-model="team.joiningDate" md-placeholder="Date of Joining">
        </div>
    </section>

    <section class="height-fixed" layout="row">
        <md-input-container class="md-block" flex>
            <label>Department</label>
            <md-select ng-model="team.departmentId">
                <md-option ng-repeat="dept in department" value="{{dept.keyCode}}">
                    {{dept.keyValue}}
                </md-option>
            </md-select>
        </md-input-container>
    </section>

    <section class="height-fixed" layout="row">
        <md-input-container class="md-block" flex>
            <label>Manager Name</label>
            <md-select ng-model="team.managerId" required>
                <md-option ng-repeat="emp in manager" value="{{emp.employeeId}}" required>
                    {{emp.name}}
                </md-option>
            </md-select>
        </md-input-container>
    </section>

    <section class="height-fixed datepicker-section" layout="row">
        <div class="date-picker-row">
            <label class="datepicker-label">Date of Confirmation</label>
            <input class="datepicker-input outline-none" type="date" ng-model="team.confirmationDate" placeholder="Date of Confirmation">
        </div>
    </section>

    <section class="height-fixed" layout="row">
        <md-input-container class="md-block" flex>
            <label>Level of Approvals</label>
            <input min="0" type="number" ng-model="team.levelOfApprovalRequired" />
        </md-input-container>
    </section>

</div>
