<div class="emp-basic-detail-div">
    <section class="height-fixed" layout="row">
        <md-input-container class="md-block" flex>
            <label class="title-label">Personal Contact Number</label>
            <input ng-pattern="/^(\d)+$/" maxlength="15" required type="text" ng-model="team.phoneNo" required/>
        </md-input-container>
    </section>

    <section class="height-fixed" layout="row">
        <md-input-container class="md-block" flex>
            <label>Emergency Contact Number</label>
            <input ng-pattern="/^(\d)+$/" maxlength="15" type="text" ng-model="team.emergencyContactPhoneNo" />
        </md-input-container>
    </section>
</div>
