<div style="height:5px; background-color:#bc5679;">
</div>
<md-card class="local-add-card ">
    <md-card-content>
        <md-list class="md-dense" flex>

            <md-header class="md-no-sticky">
                <h4 class="info-card-header">Contact Details</h4></md-header>

            <md-list-item class="md-1-line align-center">
                <p class="font-bold">Personal Contact Number</p>
                <p>{{user.phoneNo}}</p>
            </md-list-item>

            <md-list-item class="md-1-line align-center">
                <p class="font-bold">Emergency Contact Person</p>
                <p>{{user.emergencyContactName}}</p>
            </md-list-item>

            <md-list-item class="md-1-line align-center">
                <p class="font-bold">Emergency Contact Number</p>
                <p>{{user.emergencyContactPhoneNo}}</p>
            </md-list-item>
            <a ng-if="view != 'UserDetail'" ng-click="editData($event, 'Contact Details' , '#bc5679', '#d089a1', 'main/views/local_add_info_edit_form.html', user)" class="edit-header">Edit</a>

        </md-list>
    </md-card-content>
</md-card>
