<div ng-class="{'header-color':view !=='Others', 'search-header':view ==='Others'}" class="header" layout="row" flex>


    <div class="left-bar" layout="row" layout-sm="row" style="justify-content:flex-start;margin-left:1%!important;" layout-align="center center">
        <md-button ng-click="toggleMenu()" class="autoMargin transparentBackground md-icon-button md-primary" aria-label="Settings">
            <md-icon class="fill-bg" md-svg-icon="images/menu.svg"></md-icon>
        </md-button>

        <md-button class="lms-refresh-btn " ng-click="refresh()">
            <h4>LMS</h4>
        </md-button>
    </div>

    <div class="arrow-back" layout="row" style="justify-content:flex-start;margin-left:1%!important;" layout-align="center center">

        <md-button ng-click="back()" class="autoMargin transparentBackground md-icon-button md-primary" aria-label="Settings">
            <md-icon class="fill-bg" md-svg-icon="images/arrow_back.svg"></md-icon>
        </md-button>

        <md-button ng-click="back()" class="color-bg lms-back-btn">
            <h4>Back</h4>
        </md-button>

    </div>

    <div ng-disabled="true" style="justify-content:center; margin:auto; padding-left:1.5%; padding-right:1%;" flex="70" flex-sm="10" flex-xs="0">

        <div class="search" hide-sm hide-xs>
            <md-icon class="fill-bg" style="margin-left:24px !important;" md-svg-src="images/search_icon.svg"></md-icon>
            <input ng-disabled="true" type="text" ng-model="query[queryBy]" ng-trim="false" class="searchinput" placeholder="Search">
        </div>

    </div>

    <div layout="row" style="margin: 0% 1% 0% 1.5% !important;justify-content:flex-end;">
        <md-button class="autoMargin transparentBackground md-icon-button md-primary" aria-label="Settings">
            <md-tooltip md-visible="showTooltip" md-autohide="true">Notification</md-tooltip>
            <ng-md-icon icon="notifications" class="color-bg"></ng-md-icon>
        </md-button>
        <a style="margin:auto 8px;" href="#/user_detail"><img ng-src="images/alphabets/{{globals.currentUser.fName.charAt(0)|uppercase}}.png" class="avatar">
            <md-tooltip md-autohide="true">{{globals.currentUser.fName}}</md-tooltip>
        </a>
        <md-button ng-click="logoutUser($rootScope.token)" class="autoMargin transparentBackground md-icon-button md-primary" aria-label="Settings">
            <md-tooltip md-visible="showTooltip" md-autohide="true">Logout</md-tooltip>
            <ng-md-icon icon="exit_to_app" class="color-bg"></ng-md-icon>

        </md-button>
    </div>


</div>
