<div class="emp-basic-detail-div">

    <div>

        <div layout="row" layout-sm="row" layout-xs="column" flex ng-repeat="elg in team.eligibilityCount" flex="100">

            <section class="height-fixed" flex="30" flex-sm="30" flex-xs="100">
                <md-input-container class="md-block" flex-sm="100" flex-xs="100">
                    <label>Year</label>
                    <input min="2016" type="text" ng-model="elg.year" />
                </md-input-container>
            </section>
            <div hide-xs flex="5"></div>
            <section class="height-fixed" flex="30" flex-sm="30" flex-xs="100">
                <md-input-container class="md-block" flex-sm="100" flex-xs="100">
                    <label>Privilege</label>
                    <input min="0" type="number" ng-model="elg.privilege" />
                    <!-- <input ng-pattern="/^[a-zA-Z]*$/" maxlength="40" required type="text"  ng-model="team.managerName"/>                     -->
                </md-input-container>
            </section>
            <div flex="5"></div>
            <section ng-if="team.gender === 'F'" class="height-fixed" flex="30" flex-sm="30" flex-xs="100">
                <md-input-container class="md-block" flex-sm="100" flex-xs="100">
                    <label>Maternity</label>
                    <input min="0" required type="number" ng-model="elg.maternity" required/>
                </md-input-container>
            </section>
            <section ng-if="team.gender === 'M'" class="height-fixed" flex="30" flex-sm="30" flex-xs="100">
                <md-input-container class="md-block" flex-sm="100" flex-xs="100">
                    <label>Paternity</label>
                    <input min="0" required type="number" ng-model="elg.paternity" required/>
                </md-input-container>
            </section>

        </div>

    </div>

</div>
