<div style="height:5px; background-color:#76a7fa;">
</div>
<md-card class="basic-info-card ">
    <md-card-content>

        <md-list class="md-dense">
            <md-header class="md-no-sticky">
                <h4 class="info-card-header">Leave Eligibility</h4></md-header>

            <div layout="row" layout-sm="column" layout-xs="column" ng-repeat="elg in user.eligibilityCount">

                <md-list-item class="md-1-line align-center">
                    <p class="font-bold">Year</p>
                    <p class="section-content">{{elg.year}}</p>
                </md-list-item>

                <md-list-item class="md-1-line align-center">
                    <p class="font-bold">Privilege</p>
                    <p hide-sm hide-xs></p>
                    <p class="section-content">{{elg.privilege}}</p>
                </md-list-item>

                <md-list-item ng-if="user.gender === 'F'" class="md-1-line align-center">
                    <p class="font-bold">Maternity</p>
                    <p hide-sm hide-xs></p>
                    <p class="section-content">{{elg.maternity}}</p>
                </md-list-item>

                <md-list-item ng-if="user.gender === 'M'" class="md-1-line align-center">
                    <p class="font-bold">Paternity</p>
                    <p hide-sm hide-xs></p>
                    <p class="section-content">{{elg.paternity}}</p>
                </md-list-item>

            </div>

            <a ng-if="view != 'UserDetail'" ng-click="editData($event, 'Leave Eligibility' , '#76a7fa', '#9fc1fb', 'main/views/leave_eligibility_edit_form.html',user)" class="edit-header">Edit</a>

        </md-list>

    </md-card-content>
</md-card>
