<div class="emp-basic-detail-div">

    <section class="height-fixed" layout="row">
        <md-input-container class="md-block" flex>
            <label class="title-label">Personal Contact Number</label>
            <input ng-pattern="/^(\d)+$/" maxlength="15" type="text" ng-model="team.phoneNo" />
        </md-input-container>
    </section>
    <section class="height-fixed" layout="row">
        <md-input-container class="md-block" flex>
            <label class="title-label">Emergency Contact Person</label>
            <input ng-pattern="/^[a-zA-Z\s]*$/" maxlength="40" type="text" ng-model="team.emergencyContactName" />
        </md-input-container>
    </section>
    <section class="height-fixed" layout="row">
        <md-input-container class="md-block" flex>
            <label>Emergency Contact Number</label>
            <input ng-pattern="/^(\d)+$/" maxlength="15" type="text" ng-model="team.emergencyContactPhoneNo" />
        </md-input-container>
    </section>
</div>
