<div class="emp-basic-detail-div">
    <section class="height-fixed" layout="row">
        <md-input-container class="md-block" flex>
            <label class="title-label">Address Line1</label>
            <input required type="text" ng-model="team.permanentAddressDetails.permanentAddressLine1" />
        </md-input-container>
    </section>
    <section class="height-fixed" layout="row">
        <md-input-container class="md-block" flex>
            <label>Address Line2</label>
            <input type="text" ng-model="team.permanentAddressDetails.permanentAddressLine2" />
        </md-input-container>
    </section>

    <section class="height-fixed" layout="row">
        <md-input-container class="md-block" flex>
            <label>City</label>
            <input required type="text" ng-model="team.permanentAddressDetails.city" />
        </md-input-container>
    </section>
    <section class="height-fixed" layout="row">
        <md-input-container class="md-block" flex>
            <label>State</label>
            <input type="text" ng-model="team.permanentAddressDetails.state" />
        </md-input-container>
    </section>
    <section class="height-fixed" layout="row">
        <md-input-container class="md-block" flex>
            <label>Country</label>
            <input required type="text" ng-model="team.permanentAddressDetails.country" />
        </md-input-container>
    </section>
    <section class="height-fixed" layout="row">
        <md-input-container class="md-block" flex>
            <label>Pincode</label>
            <input ng-pattern="/^(\d)+$/" maxlength="8" required type="text" ng-model="team.permanentAddressDetails.pincode" required/>
        </md-input-container>
    </section>
</div>
