<div style="height:5px; background-color:#4dbfd9;">
</div>
<md-card class="local-add-card ">
    <md-card-content>

        <md-list class="md-dense align-center" flex>

            <md-header class="md-no-sticky">
                <h4 class="info-card-header">Personal Details</h4></md-header>

            <md-list-item class="md-1-line align-center">
                <p class="font-bold">Name</p>
                <p class="section-content">{{user.firstName | capitalize}} {{user.lastName | capitalize}}</p>
            </md-list-item>

            <md-list-item class="md-1-line align-center">
                <p class="font-bold">Employee Id</p>
                <p class="section-content">{{user.empId}}</p>
            </md-list-item>

            <md-list-item class="md-1-line align-center">
                <p class="font-bold">Email Id</p>
                <p class="overflow-content">{{user.email}}</p>
            </md-list-item>

            <md-list-item class="md-1-line align-center">
                <p class="font-bold">Gender</p>
                <p class="section-content">{{user.gender}}</p>
            </md-list-item>

            <md-list-item class="md-1-line align-center">
                <p class="font-bold">Date of Birth</p>
                <p class="section-content">{{user.dob |date}}</p>
            </md-list-item>

            <md-list-item class="md-1-line align-center">
                <p class="font-bold">Blood group</p>
                <p class="section-content">{{user.bloodGroup}}</p>
            </md-list-item>

            <md-list-item class="md-1-line align-center">
                <p class="font-bold">Nationality</p>
                <p class="section-content">{{user.nationality}}</p>
            </md-list-item>

            <md-list-item style="padding-bottom:25px;" class="md-1-line align-center">
                <p class="font-bold">Present Address</p>
                <p>{{user.localAddressDetails.localAddressLine1 | capitalize}} {{user.localAddressDetails.localAddressLine2 | capitalize}} {{user.localAddressDetails.city | capitalize}} {{user.localAddressDetails.state | capitalize}} {{user.localAddressDetails.country
                    | capitalize}} {{user.localAddressDetails.pincode}}</p>
            </md-list-item>

            <md-list-item style="padding-bottom:25px;" class="md-1-line align-center">
                <p class="font-bold">Permanent Address</p>
                <p>{{user.permanentAddressDetails.permanentAddressLine1 | capitalize}} {{user.permanentAddressDetails.permanentAddressLine2 | capitalize}} {{user.permanentAddressDetails.city | capitalize}} {{user.permanentAddressDetails.state | capitalize}}
                    {{user.permanentAddressDetails.country | capitalize}} {{user.permanentAddressDetails.pincode}}</p>
            </md-list-item>
            <a ng-if="view != 'UserDetail'" ng-click="editData($event, 'Personal Details' , '#4dbfd9', '#82d2e4', 'main/views/personalinfo_edit_form.html',user)" class="edit-header">Edit</a>

        </md-list>


    </md-card-content>
</md-card>
