<div class="emp-basic-detail-div">

    <div layout="row" layout-xs="column" flex="100">
        <!-- Name -->

        <section class="height-fixed" layout="row" flex="45" flex-xs="100">
            <md-input-container class="md-block" flex>
                <label>First Name<span style="color:red;">*</span></label>
                <input ng-change="addEmail()" name="firstName" ng-pattern="/^[a-zA-Z\s]*$/" maxlength="40" type="text" ng-model="team.firstName" required/>
                <div ng-messages="editForm.firstName.$error" role="alert">
                    <div ng-message-exp="['required', 'maxlength', 'pattern']">
                        First Name is required
                    </div>
                </div>
            </md-input-container>
        </section>

        <div hide-xs flex="10"></div>

        <section class="height-fixed" layout="row" flex="45" flex-xs="100">
            <md-input-container class="md-block" flex>
                <label>Last Name</label>
                <input ng-change="addEmail()" ng-pattern="/^[a-zA-Z\s]*$/" maxlength="40" type="text" ng-model="team.lastName" />
            </md-input-container>
        </section>

    </div>

    <section class="height-fixed" layout="row">
        <md-input-container class="md-block" flex>
            <label class="title-label">Employee Id<span style="color:red;">*</span></label>
            <input name="empId" ng-pattern="/[^\s]+/" maxlength="8" type="text" ng-model="team.empId" required="" />
            <div ng-messages="editForm.empId.$error" role="alert">
                <div ng-message-exp="['required', 'maxlength', 'pattern']">
                    Employee Id is required
                </div>
            </div>
        </md-input-container>
    </section>

    <section class="height-fixed" layout="row">
        <md-input-container class="md-block" flex>
            <label class="title-label">Email Id<span style="color:red;">*</span></label>
            <input name="emailId" ng-pattern="/^.+@.+\..+$/" maxlength="100" type="email" ng-model="team.email" required="" />
            <div ng-messages="editForm.emailId.$error" role="alert">
                <div ng-message-exp="['required', 'maxlength', 'pattern']">
                    Email Id is required
                </div>
            </div>
        </md-input-container>
    </section>

    <section class="height-fixed" layout="row">
        <md-radio-group class="genderRadioBtn" layout="row" ng-model="team.gender">
            <md-radio-button value="M" class="md-primary">Male</md-radio-button>
            <md-radio-button value="F" class="md-primary">Female</md-radio-button>
        </md-radio-group>
    </section>

    <section class="height-fixed datepicker-section" layout="row">
        <div class="date-picker-row">
            <label class="datepicker-label">Date of Birth</label>
            <input class="datepicker-input outline-none" type="date" ng-model="team.dob" md-placeholder="Date of Birth">
        </div>
    </section>

    <div layout="row" layout-xs="column" flex="100">


        <section class="height-fixed" layout="row" flex="45" flex-xs="100">
            <md-input-container class="md-block" flex>
                <label class="title-label">Blood group</label>
                <md-select ng-model="team.bloodGroupId">
                    <md-option ng-repeat="bld in bldGrp" value="{{bld.keyCode}}">
                        {{bld.keyValue}}
                    </md-option>
                </md-select>
            </md-input-container>
        </section>

        <div hide-xs flex="10"></div>

        <section class="height-fixed" layout="row" flex="45" flex-xs="100">
            <md-input-container class="md-block" flex>
                <label>Nationality</label>
                <input ng-pattern="/^[a-zA-Z\s]*$/" maxlength="40" type="text" ng-model="team.nationality" />
            </md-input-container>
        </section>

    </div>

    <!-- Present Address -->

    <section class="height-fixed" layout="row">
        <md-input-container class="md-block" flex>
            <label class="title-label"> Present Address Line1</label>
            <input type="text" ng-model="team.localAddressDetails.localAddressLine1" />
        </md-input-container>
    </section>

    <div layout="row" layout-xs="column" flex="100">

        <section class="height-fixed" layout="row" flex="45" flex-xs="100">
            <md-input-container class="md-block" flex>
                <label>Present Address Line2</label>
                <input type="text" ng-model="team.localAddressDetails.localAddressLine2" />
            </md-input-container>
        </section>

        <div hide-xs flex="10"></div>

        <section class="height-fixed" layout="row" flex="45" flex-xs="100">
            <md-input-container class="md-block" flex>
                <label>City</label>
                <input type="text" ng-model="team.localAddressDetails.city" />
            </md-input-container>
        </section>

    </div>

    <div layout="row" layout-xs="column" flex="100">

        <section class="height-fixed" layout="row" flex="30" flex-xs="100">
            <md-input-container class="md-block" flex>
                <label>State</label>
                <input type="text" ng-model="team.localAddressDetails.state" />
            </md-input-container>
        </section>

        <div hide-xs flex="5"></div>

        <section class="height-fixed" layout="row" flex="30" flex-xs="100">
            <md-input-container class="md-block" flex>
                <label>Country</label>
                <input type="text" ng-model="team.localAddressDetails.country" />
            </md-input-container>
        </section>

        <div hide-xs flex="5"></div>

        <section class="height-fixed" layout="row" flex="30" flex-xs="100">
            <md-input-container class="md-block" flex>
                <label>Pincode</label>
                <input ng-pattern="/^(\d)+$/" maxlength="8" type="text" ng-model="team.localAddressDetails.pincode" />
            </md-input-container>
        </section>

    </div>

    <!-- Permanent Address -->

    <section class="height-fixed" layout="row">
        <md-input-container class="md-block" flex>
            <label class="title-label">Permanent Address Line1</label>
            <input type="text" ng-model="team.permanentAddressDetails.permanentAddressLine1" />
        </md-input-container>
    </section>

    <div layout="row" layout-xs="column" flex="100">

        <section class="height-fixed" layout="row" flex="45" flex-xs="100">
            <md-input-container class="md-block" flex>
                <label>Permanent Address Line2</label>
                <input type="text" ng-model="team.permanentAddressDetails.permanentAddressLine2" />
            </md-input-container>
        </section>

        <div hide-xs flex="10"></div>

        <section class="height-fixed" layout="row" flex="45" flex-xs="100">
            <md-input-container class="md-block" flex>
                <label>City</label>
                <input type="text" ng-model="team.permanentAddressDetails.city" />
            </md-input-container>
        </section>

    </div>

    <div layout="row" layout-xs="column" flex="100">

        <section class="height-fixed" layout="row" flex="30" flex-xs="100">
            <md-input-container class="md-block" flex>
                <label>State</label>
                <input type="text" ng-model="team.permanentAddressDetails.state" />
            </md-input-container>
        </section>

        <div hide-xs flex="5"></div>

        <section class="height-fixed" layout="row" flex="30" flex-xs="100">
            <md-input-container class="md-block" flex>
                <label>Country</label>
                <input type="text" ng-model="team.permanentAddressDetails.country" />
            </md-input-container>
        </section>

        <div hide-xs flex="5"></div>

        <section class="height-fixed" layout="row" flex="30" flex-xs="100">
            <md-input-container class="md-block" flex>
                <label>Pincode</label>
                <input ng-pattern="/^(\d)+$/" maxlength="8" type="text" ng-model="team.permanentAddressDetails.pincode" />
            </md-input-container>
        </section>

    </div>

</div>
