<nav ng-if="globals.currentUser.token && !globals.currentUser.freshLogin " ng-show="sideNavShown" class="sidebar">
    <ul>

        <li ng-class="{'activeView':screen=='MySpace'}"><a ng-click="changeScreen('MySpace')"><i class="outline-none" ><span ng-class="{'activeView':screen=='MySpace'}">My Space</span></i></a></li>

        <li ng-if="globals.currentUser.manager==1" ng-class="{'activeView':screen=='Approvals'}"><a ng-click="changeScreen('Approvals')"><i  class="outline-none" ><span ng-class="{'activeView':screen=='Approvals'}">Approvals</span></i></a></li>

        <li ng-if="globals.currentUser.manager==1" ng-class="{'activeView':screen=='MyTeam'}"><a ng-click="changeScreen('MyTeam')"><i  class="outline-none" ><span ng-class="{'activeView':screen=='MyTeam'}">My Team</span></i></a></li>

        <li ng-if="globals.currentUser.admin==1" ng-class="{'activeView':screen=='AdminSpace'}"><a ng-click="changeScreen('AdminSpace')"><i  class="outline-none" ><span ng-class="{'activeView':screen=='AdminSpace'}">Administration</span></i></a></li>

    </ul>
</nav>
