<section ng-controller="SubheaderCtrl" class="subheader1" layout="row" layout-align="space-between center" layout-wrap="">

    <span flex></span>

    <md-button ng-hide="true" ng-if="(globals.currentUser.manager!=1 || view==='MySpace') && globals.currentUser.token" ng-href="#/home" class="md-icon-button md-primary" aria-label="Settings">
        <md-icon md-svg-icon="images/calendar.svg"></md-icon>
        <md-tooltip>Calendar View</md-tooltip>
    </md-button>
    <md-button ng-hide="true" ng-if="(globals.currentUser.manager!=1 || view==='MySpace') && globals.currentUser.token" id="listViewBtn" ng-click="refresh()" class="md-icon-button md-primary" aria-label="Settings">
        <ng-md-icon class="actionIconBlack" icon="view_list"></ng-md-icon>
        <md-tooltip>List View</md-tooltip>
    </md-button>
</section>
