<div class="row">
    <div class="timeline-centered">

        <article class="timeline-entry" ng-repeat="flow in workflow">

            <div show-sm class="timeline-entry-inner">
                <time show-sm class="timeline-time" style="margin-left:-29%;text-align:left; margin-top:-3.5%;">
                <div layout="row">
                  <img ng-src="images/alphabets/{{flow.fromEmployeeFirstName.charAt(0)|uppercase}}.png" class="avatar autoMargin" hide-xs >
                  &nbsp&nbsp&nbsp&nbsp
                  <div class="overflow-content" id="approverField" layout="column">
                  <span class="max_width_span"><b>{{flow.fromEmployeeFirstName|capitalize}}</b></span>
                  <span>{{flow.actionTimestamp | date}}</span>
                  </div>
                </div>
              </time>

                <div ng-if="flow.lastApprover && flow.actionTaken==='Approve'" show-sm class="timeline-icon" style=" width:25px;height:25px;background-color:#4caf50">
                    <md-icon style="width: 19px;" ng-class="md-18" md-svg-src="images/{{flow.actionTaken}}_last.svg" aria-label="{{flow.actionTaken}}"></md-icon>
                    <md-tooltip><span ng-bind="tooltip.{{flow.actionTaken}}"></span></md-tooltip>
                </div>
                <div ng-if="flow.lastApprover && flow.actionTaken!='Approve'" show-sm class="timeline-icon" style=" width:25px;height:25px;">
                    <md-icon style="width: 19px;" ng-class="md-18" md-svg-src="images/{{flow.actionTaken}}.svg" aria-label="{{flow.actionTaken}}"></md-icon>
                    <md-tooltip><span ng-bind="tooltip.{{flow.actionTaken}}"></span></md-tooltip>
                </div>

                <div ng-if="!flow.lastApprover" show-sm class="timeline-icon" style=" width:25px;height:25px;">
                    <md-icon style="width: 19px;" ng-class="md-18" md-svg-src="images/{{flow.actionTaken}}.svg" aria-label="{{flow.actionTaken}}"></md-icon>
                    <md-tooltip><span ng-bind="tooltip.{{flow.actionTaken}}"></span></md-tooltip>
                </div>

                <div ng-if="flow.comments" show-sm class="timeline-label">
                    <p>{{flow.comments|capitalize}}</p>
                </div>
            </div>

        </article>
    </div>
</div>
