<div class="margin-two">
    <!-- profile div -->
    <div class="profile-div " layout="row" flex="100">

        <!-- pic div -->
        <div class="pic-div " flex="30" flex-sm="50" flex-xs="100">

            <img ng-src="images/profile_alter.jpg" class="profile-avatar" ng-hide="record.value">
            <center>
                <h4 class="user-name-header">{{globals.currentUser.fName | capitalize}}  {{globals.currentUser.lName | capitalize}}</h4>
                <p class="user-name-header">{{user.email}}</p>
            </center>

        </div>
        <!-- pic div end-->

        <!-- cover div -->
        <div class="cover-div" flex="70" flex-sm="50" flex-xs="0">


        </div>
        <!-- cover div end-->

    </div>
    <!-- profile div end-->

    <!-- toolbar menu -->
    <div class="sub-menu-tab-div " flex>

        <md-tabs md-selected="selectedIndex" md-border-bottom="" md-autoselect="">
            <md-tab ng-repeat="tab in tabs" ng-disabled="tab.disabled" label="{{tab.title}}">
                <div class="tab{{$index%4}}" style="height:auto; overflow:hidden;">
                    <div style="height:30px;"></div>
                    <div ng-include="tab.content"></div>

                </div>
            </md-tab>
        </md-tabs>

    </div>
    <!-- toolbar menu end -->


</div>
<!-- end -->
