<md-dialog class="edit-dialog-box" aria-label="edit form">
    <form id="editDetailForm" name="editForm" ng-submit="" novalidate="" enctype="multipart/form-data">

        <div class="edit-box-header" style="background-color:{{formcolor}};" layout="column">
            <div>
                <a href="">
                    <i class="outline-none" ng-click="closeDialog(team.id)"><img class="close-image" ng-src="images/close_black_18x18.png"></i>
                </a>
            </div>
            <center>
                <h4 class="edit-form-title">{{formTitle}}</h4>
                <div class="btn-div" layout="row" layout-wrap>


                    <md-button ng-class="{'active-btn':  formTitle =='Personal Details' }" ng-click="editDataForm($event, 'main/views/personalinfo_edit_form.html', 'Personal Details' , '#4dbfd9', '#82d2e4')" style="background-color:{{btncolor}}" aria-label="menu" class="info-btn md-fab">
                        <md-tooltip id="toolDir" md-direction="bottom">Personal</md-tooltip>
                        <md-icon md-svg-src="images/basic_info.svg" aria-label="close dialog"></md-icon>
                    </md-button>

                    <md-button ng-class="{'active-btn':  formTitle =='Professional Details' }" ng-click="editDataForm($event, 'main/views/basicinfo_edit_form.html', 'Professional Details' , '#8cc474', '#aed69e')" style="background-color:{{btncolor}}" aria-label="menu" class="info-btn md-fab">
                        <md-tooltip id="toolDir" md-direction="bottom">Professional</md-tooltip>
                        <md-icon md-svg-src="images/personal_info.svg" aria-label="close dialog"></md-icon>
                    </md-button>

                    <md-button ng-class="{'active-btn':  formTitle =='Contact Details' }" ng-click="editDataForm($event, 'main/views/local_add_info_edit_form.html', 'Contact Details' , '#bc5679', '#d089a1')" style="background-color:{{btncolor}}" aria-label="menu" class="info-btn md-fab">
                        <md-tooltip id="toolDir" md-direction="bottom">Contact</md-tooltip>
                        <md-icon md-svg-src="images/contact_no.svg" aria-label="close dialog"></md-icon>
                    </md-button>

                    <md-button ng-class="{'active-btn':  formTitle =='Leave Eligibility' }" ng-click="editDataForm($event, 'main/views/leave_eligibility_edit_form.html',  'Leave Eligibility' , '#76a7fa','#9fc1fb')" style="background-color:{{btncolor}}" aria-label="menu"
                        class="info-btn md-fab">
                        <md-tooltip id="toolDir" md-direction="bottom">Leave Eligibility</md-tooltip>
                        <md-icon md-svg-src="images/card_giftcard.svg" aria-label="close dialog"></md-icon>
                    </md-button>

                </div>
                <md-button ng-disabled="diasableAdd" ng-if="formTitle==='Leave Eligibility'" ng-click="addEligibility()" aria-label="menu" class="more-add-button md-fab md-raised md-mini">
                    <ng-md-icon style="color:white" icon="add" aria-label="Add"></ng-md-icon>
                </md-button>
            </center>

        </div>

        <md-dialog-content class="edit-box-content" style="height:500px">
            <div ng-include="form">
            </div>

        </md-dialog-content>
        <md-dialog-actions>
            <md-button type="submit" ng-if="!addNew" class="md-raised md-primary" ng-click="editEmployee(team,formTitle);" style="margin-left: auto; margin-bottom:15px;margin-right: 3.5%;">

                Submit
            </md-button>
            <md-button type="submit" ng-if="addNew" class="md-raised md-primary" ng-click="addEmployeeDetails($event,form,team);" style="margin-left: auto; margin-bottom:15px;margin-right: 3.5%;">
                {{submitTitle}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
