<md-content id="main" layout="horizontal" layout-align="center" >
    <md-list flex>
        <div id="content" >

            <div ng-repeat="h in history">
                <p style="margin-left: 3%; margin-top:2%;">{{h.title}}</p>
                <div ng-repeat="record in h.data">
                <md-card id="headerWrapper"   ng-hide="$index == selectedUserIndex && title == h.title"  ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                    <md-item layout="row">
                        <div>

                            <md-button id="{{h.title}}"  class="md-fab md-mini">{{record.numberOfdays}}</md-button>
                        </div>
                        <div ng-click="leaveDetails($index, h.title, record.leaveRequestId)" class="collapsed-row" layout="row" layout-align="start center" flex="">
                            <span flex="5"></span>
                            <span>{{ record.fromDate | date }}&nbsp - &nbsp{{ record.toDate | date }}</span>
                            <span> &nbsp&nbsp&nbsp-&nbsp&nbsp&nbsp {{ record.typeOfLeave |capitalize }}</span>
                            <span>&nbsp&nbsp&nbsp-&nbsp&nbsp&nbsp{{ record.description |capitalize}}</span>
                            <span flex=""></span>
                            <!-- <span ng-show="hover" ng-if="record.workflow[0].actionTaken=='Sendback'">
                                <md-button  ng-click="updateLeave(record);"  id="editBtn" class="md-icon-button">
                                    <md-icon md-svg-src="images/edit.svg" aria-label="Edit dialog"></md-icon>
                                </md-button>                                
                            </span> -->
                            <span ng-show="hover" ng-if="h.title!='Taken' ">
                                <md-button ng-click="cancelLeave(record.leaveRequestId, record.typeOfLeave);" style="background-color:white;" id="cancelBtn" class="md-icon-button" >
                                <md-tooltip>Cancel</md-tooltip>        
                                    <md-icon md-svg-src="images/cancel.svg" aria-label="Cancel dialog"></md-icon>
                                </md-button>
                                
                            </span>
                        </div>
                    </md-item>
                </md-card>
                <md-card id="contentWrapper"  ng-show="$index == selectedUserIndex && title == h.title" ng-mouseover="hover = true" ng-mouseout="hover = false">
                    <div layout="column" flex>
                        <div ng-click="selectUserIndex($index, h.title)" layout="row" flex>
                            <span flex="95">
                            <!-- <md-button id="daysBtn" style="background-color:{{record.color}}; color:white" class="md-fab md-mini">{{record.noOfdays}}</md-button> -->
                            <h4 ng-if="record.numberOfdays<=1"style="margin:19px;">Leave applied for {{record.numberOfdays}} day</h4>
                            <h4 ng-if="record.numberOfdays>1"style="margin:19px;">Leave applied for {{record.numberOfdays}} days</h4>
                            </span>

                            <span ng-if="workflow[0].actionTaken=='Sendback'">
                                <md-button  ng-click="updateLeave(record);"  id="editBtn" class="md-icon-button">
                                    <md-icon md-svg-src="images/edit.svg" aria-label="Edit dialog"></md-icon>
                                </md-button>                                
                            </span>
                            <span ng-if="h.title!='Taken' ">
                                <!-- <md-button  id="editBtn" class="md-icon-button" ng-click="alert('edit');">
                                    <md-icon md-svg-src="images/edit.svg" aria-label="Edit dialog"></md-icon>
                                </md-button> -->
                                <md-button  style="background-color:white;" id="cancelBtn" class="md-icon-button" ng-click="cancelLeave(record.leaveRequestId, record.typeOfLeave);">
                                    <md-icon md-svg-src="images/cancel.svg" aria-label="Cancel dialog"></md-icon>
                                </md-button>
                                
                            </span>
                        </div>
                        <md-divider></md-divider>
                        <md-card-content layout-sm="column" layout-wrap="">

                            <md-card>
                                <md-card-content style="padding:0%;">
                                    <div layout="row" layout-xs="column" layout-wrap="">
                                        <div  flex>
                                            <md-toolbar>
                                                <div  class="md-toolbar-tools">
                                                    <span><b>Approval Stage</b></span>
                                                    <!-- fill up the space between left and right area -->
                                                    <span flex></span>
      
                                                </div>
                                                </md-toolbar>
                                                <md-content flex  style="height:200px">
                                                    <work-flow   name="workflow"></work-flow>
                                                </md-content>
                                        </div>
                                        <div flex="40" flex-sm="50">
                                            <md-card>
                                                <md-card-content id="leaveHistoryView">
                                                    <section layout="row">
                                                        <md-icon flex="15" md-svg-src="images/when.svg" aria-label="Cancel dialog"></md-icon>
                                                        <div flex layout="column">

                                                            <p id="sectionHead">When</p>
                                                            <p id="sectionContent" style="font-size=12px;">{{ record.fromDate | date }} to {{ record.toDate | date }}</p>
                                                        </div>
                                                    </section>
                                                    <p></p>
                                                    <p></p>
                                                    <section layout="row">
                                                        <md-icon flex="15" md-svg-src="images/Type.svg" aria-label="Cancel dialog"></md-icon>
                                                        <div flex layout="column">
                                                            <p id="sectionHead">Leave Type</p>
                                                            <p id="sectionContent">{{ record.typeOfLeave|capitalize }}</p>
                                                        </div>
                                                    </section>
                                                    <p></p>
                                                    <p></p>
                                                    <section layout="row">
                                                        <md-icon flex="15" md-svg-src="images/status.svg" aria-label="Cancel dialog"></md-icon>
                                                        <div flex layout="column">
                                                            <p id="sectionHead">Status</p>
                                                            <p id="sectionContent">{{ record.status|capitalize}}</p>
                                                        </div>
                                                    </section>
                                                    <p></p>
                                                    <p></p>
                                                    <section layout="row">
                                                        <md-icon flex="15" md-svg-src="images/reason.svg" aria-label="Cancel dialog"></md-icon>
                                                        <div flex layout="column">
                                                            <p id="sectionHead">Reason</p>
                                                            <p id="sectionContent">{{ record.description|capitalize }}</p>
                                                        </div>
                                                    </section>
                                                </md-card-content>
                                            </md-card>
                                        </div>
                                    </div>
                                </md-card-content>
                            </md-card>
                            </md-card-content>

                        
                        <!--  Leave Update Section -->
                        
                            <md-divider></md-divider>
                            <div ng-if="updateAction && workflow[0].actionTaken=='Sendback'">
                                <update   name="record"></update>
                            </div>
                        
                        
                </md-card>
                </div>
            </div>
        </div>
    </md-list>

</md-content>
<div ng-if="screen!='Approvals'" ng-controller="LeaveStatisticCtrl" ng-include="'employee/views/leave_statistic.html'"></div>






















































<!-- Older Codes -->
   <!--  <div class="content">
      <md-item ng-repeat="user in employee" class="item"
         ng-class="{ 'selected-item': $index == selectedUserIndex}">
        <md-item-content class="user tile md-whiteframe-z1"
                         ng-class="{ 'selected md-whiteframe-z2': $index == selectedUserIndex}"
                         layout="column">
          <div layout="row" layout-fill ng-click="selectUserIndex($index)" class="folded">
            <div class="md-tile-left">
              <img ng-src="{{ user.noOfdays }}" class="face">
            </div>
            <div class="md-tile-content" layout="column" layout-align="center start">
              <h3>{{ user.noOfdays }}</h3>
      
              <p ng-hide="$index == selectedUserIndex">
                <span>{{user.fromDate|date }} - {{user.toDate|date}}  </span>
              </p>
            </div>
          </div>
          <md-divider layout-fill ng-show="$index == selectedUserIndex"></md-divider>
          <div layout="column" layout-fill class="expanded">
            <span>From Date:{{user.fromDate|date }} </span>
            <br/>
            <span>To Date: {{user.toDate|date}}</span>
            <br/>
            <span>Leave Type: {{user.typeOfLeave}}</span>
            <br/>
            <span>Status: {{user.status}}</span>
            <br/>
          </div>
        </md-item-content>
        <md-divider class="divider-inset" ng-if="!$last"></md-divider>
      </md-item>
    </div>

    <div ng-if="screen!='Approvals'" ng-controller="LeaveStatisticCtrl" ng-include="'employee/views/leave_statistic.html'"></div>
   -->






<!-- 
		
	   <md-card>
      <md-card-content>
        <md-list class="listdemoListControls">
          <md-subheader class="md-no-sticky">
            <div layout="row" layout-margin layout-wrap >
  				    <div flex>Leave From</div>
  				    <div flex>Leave To</div>
  				    <div flex>Working Days</div>
  				    <div flex>Leave Type</div>
  				    <div flex>Status</div>
            </div>
          </md-subheader>
          <md-divider></md-divider>
    		    <div layout="column" layout-margin layout-wrap >
              <md-list-item  ng-repeat="user in employee">
  				    <div flex>{{user.fromDate|date}}</div>
  				    <div flex>{{user.toDate|date}}</div>
  				    <div flex>{{user.noOfdays}}</div>
  				    <div flex>{{user.typeOfLeave}}</div>
  				    <div flex>{{user.status}}</div> 
              <md-divider></md-divider>
              </md-list-item> 				
  				  </div>
            
  		    
        </md-list>
      </md-card-content>
    </md-card>
  
 -->
 <!-- 
<span>
<md-table-container>
  <table md-table>
    <thead md-head>
      
      <th md-column>Leave From</th>      
      <th md-column>Leave To</th>
      <th md-column>Working Days</th>
      <th md-column>Type of Leave</th>
      <th md-column>Status</th>
    </thead>
    <tbody md-body>
      
      <tr ng-repeat="data in myData">
      <td md-cell>{{data.firstName}}</td>
      <td md-cell>{{data.lastName}}</td>
      <td md-cell>{{data.firstName1}}</td>
      <td md-cell>{{data.lastName4}}</td>
      <td md-cell>{{data.status}}</td>

      </tr>
    </tbody>
  </table>
</md-table-container>
</span> -->

<!-- 
<md-card>
 <md-card-content>
   <h2>Leave History View</h2>
   <p>Card content</p>
 </md-card-content>
 <md-card-footer>
   Card footer
 </md-card-footer>
</md-card>

 -->
              
