<md-card style="margin:2%!important;">
<!--  <md-card-content >
   <h2>Calendar View</h2>
   <p>Card content</p> -->
   <calendar-md flex layout layout-fill
  	calendar-direction="direction"
  	on-prev-month="prevMonth"
  	on-next-month="nextMonth"
  	on-day-click="dayClick"
  	title-format="'MMMM y'"
  	ng-model='selectedDate'
  	week-starts-on="firstDayOfWeek"
  	<--Set the initial month here. "8" is September. Defaults to current-->
  	data-start-month="8"
  	<--Set the initial year here. Defaults to current.-->
  	data-start-year="2014"
  	tooltips="tooltips"
  	day-format="dayFormat"
  	day-label-format="'EEE'"
  	day-label-tooltip-format="'EEEE'"
  	day-tooltip-format="'fullDate'"
  	day-content="setDayContent"
  	disable-future-selection="false"
  	<-- Allows dates in the future to be disabled and unselectable. Defaults to false--> ></calendar-md>
 <!-- </md-card-content>
 <md-card-footer>
   Card footer
 </md-card-footer> -->
</md-card>
<div  ng-controller="LeaveStatisticCtrl" ng-include="'employee/views/leave_statistic.html'"></div>
