<div class="emp-basic-detail-div">
    <div layout="row">
        <section class="height-fixed" layout="row">
            <md-input-container class="md-block" flex>
                    <label>Year</label>
                    <md-select ng-model="team.designationId">
                        <md-option ng-repeat="des in designation" value="{{des.keyCode}}">
                            {{des.keyValue}}
                        </md-option>
                    </md-select>                 
            </md-input-container>
        </section>
        <section class="height-fixed" layout="row">
            <md-input-container class="md-block" flex>
                    <label>Privilege</label>
                    <md-select ng-model="team.designationId">
                        <md-option ng-repeat="des in designation" value="{{des.keyCode}}">
                            {{des.keyValue}}
                        </md-option>
                    </md-select>                 
            </md-input-container>
        </section>
        <section class="height-fixed" layout="row">
            <md-input-container class="md-block" flex>
                    <label>Maternity</label>
                    <md-select ng-model="team.designationId">
                        <md-option ng-repeat="des in designation" value="{{des.keyCode}}">
                            {{des.keyValue}}
                        </md-option>
                    </md-select>                 
            </md-input-container>
        </section>
        <section class="height-fixed" layout="row">
            <md-input-container class="md-block" flex>
                    <label>Paternity</label>
                    <md-select ng-model="team.designationId">
                        <md-option ng-repeat="des in designation" value="{{des.keyCode}}">
                            {{des.keyValue}}
                        </md-option>
                    </md-select>                 
            </md-input-container>
        </section>
    </div>
</div>