<section layout="row" flex>
    <ng-md-icon class="centerAlign contentTop" flex="15" icon="{{options.imageIcon}}" style="color:#000"></ng-md-icon>
    <div style="margin-left:13px !important;" flex layout="column">
        <p id="sectionHead">{{options.sectionHead}}</p>
        <p id="sectionContent" class="overflow-content" style="font-size=12px;">{{filteredContent}}</p>
    </div>
</section>
