#approvalAction{
    background-color:#F2F2F2;
    padding:1%;
    height:100px;
    
}
#approvalList:hover{
	-webkit-transition: all 2s ease;
-moz-transition: all 2s ease;
-o-transition: all 2s ease;

}
#employeeDetail{
	background-color:#F2F2F2;
}
#leaveDetail{
	background-color:#F2F2F2;
}
#lastLeaveDetail{
	background-color:#F2F2F2;
}
.formErrors{
	color:#D23F31;
}
.max_width_span{
	max-width:120px;
}
.approveAllIcon{
	fill:grey;
}
.approveAllIcon:hover{
	fill:black;
}
.selectAllCheck{
	margin-top:1%;
	margin-left:25px!important;
}
.actionIcon{
	fill:grey;
}
.monthTitle{
  margin-left: 45px; 
  margin-top:2%; 
  color:#636363;
}
#approvalDetailDiv{
	width:40% !important;
}
/*My team CSS*/
.my-team-card{
	margin:2% !important;
	background:transparent;
	box-shadow:none;
	.tool-header{
		margin-left:24px;
		/*padding-left:10px;*/
	}
	.my-team-card-content{
		background:transparent;
	}
	.team-name-card{
		/*height:85px;*/
		margin: 0.5px !important;
    	border-radius: 0px;	
    	padding:10px;	
	}
	.team-name-content{
		margin:auto 14px;			
	}
	.team-name-div{
		/*margin-left:0.5%;*/			
	}
	.name-div{
		margin:auto 2%;
	}
	.avatar-div{

	}
	.team-name-card-detail{
		margin:2% 0% !important;
		box-shadow:  0 0 5px 2px #D2D2D2;
	}
	.team-name-div-detail{
		margin-left:0.5%;
		height:45px;
		.avatar-div{
			margin:auto 0%;
		}
	}
	.team-name-content-detail{
		
	}
}
.leaveSummaryView{

	margin:1% 0% 0% 0% !important;
}
.margin-two{
	margin:2% !important;
}
.search-header{
	background:#f2f2f2;
	.search,
	.searchinput{
  		background:white;
  		min-height:36px;  
	}
	.fill-bg{
		fill:grey;
	}
	.color-bg{
		color:grey !important;
	}
	.arrow-back{
		display:block !important;
	}
	.left-bar{
		display:none !important;
	}
}
.search-div{
	background:4fb885;
}
.header-color{
	background: #4285F4;
}
.search-color{
	background:#5E97F6;
}
.search-color-others{
	background:#4fb885;
}
.fill-bg{
	fill:white;
}

.color-bg{
	color:white !important;

}
.arrow-back{
	display:none !important;
}
.left-bar{
	display:block !important;
}
.lms-refresh-btn{
	color:white !important;
	margin-top:7px !important; 
	margin-left:0px !important; 
	>h4{
		margin-bottom:-4px;
	}
	
}
.lms-back-btn{
	margin-top:7px !important; 
	margin-left:0px !important; 
	>h4{
		margin-bottom:-4px;
	}
}
.margin-ten-tb{
	margin-top:10px;
	margin-bottom:10px;
}
.align-center{
	align-items:baseline;
}
.md-open-menu-container{
	z-index:99 !important;
}
.more-btn{
	background: transparent !important;
}
.more-btn .md-ripple-container{
	>div{
		background:none !important;
		border-color:none !important;
	}
	
}
.menu-bar-title{
	padding-left:28px;
}


.emp-detail-card-toolbar{
	background-color:#4285F4 !important;
	.toolbar-div{
		margin:auto 17px;
	}
}
.edit-icon{
	color:white;
	&:hover{
		color:black;
	}
}
.height-fixed{
	height:75px;
}
md-sidenav{
	
}
md-sidenav.md-locked-open, md-sidenav.md-locked-open.md-closed, md-sidenav.md-locked-open.md-closed.md-sidenav-left, md-sidenav.md-locked-open.md-closed{
	    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) 1important;
}
.md-sidenav-left.md-closed, md-sidenav.md-closed {
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}
.team-chip-number{
	height: 32px;
    width: 50px;
    border-radius: 16px;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 16px;
}    