

md-card {
    background-color: #ffffff;
    
}

.collapsed-row span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/*

.animate-enter {
    -webkit-transition: 1s linear all; 
    transition: 1s linear all;
    opacity: 0;
}

.animate-enter.animate-enter-active {
    opacity: 1;
}*/

.round-face {
    border-radius: 30px;
    border: 1px solid #ddd;
    width: 48px;
    height: 48px;
    margin: 8px;
}

#main {
    //margin-top:-10px;
    background-color: #F2F2F2;
    max-width:100%;
    position:relative;
    overflow:hidden !important;

}


#content {
    //margin-top:-2%;
    min-width: 100%;
    max-width:100%;
    position:relative;
    
}
/*
.animate-if {
    background:white;
    border:1px solid black;
    padding:10px;
}

.animate-if.ng-enter, .animate-if.ng-leave {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
    opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
    opacity:1;
}
*/
/*
#daysBtn{
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 28px;
    width: 33px;
    -webkit-user-drag: none;
}
*/
#leaveHistoryView{
    background-color:#F2F2F2;
    height:283px;
    
}

#headerWrapper{
    margin:1px 2% !important;
    border-radius:0px;
}
#contentWrapper{
    margin:50px 2% !important;    
    box-shadow:  0 0 5px 2px #D2D2D2;
}
#sectionHead{
    width:100%;
    color:#000;
}
#sectionContent{
    font-size:12px !important; 
}
#comment{
    font-size:14px !important;
}
.updateFormContainer{
    margin:2% 2% 2% auto;
}
#dateSection{
    width:auto;
    margin-right:auto;
    padding:0;
    margin-top:13px;
    margin-left:3px;    
    background:transparent;
}
#dateSectionToDate{
    width:auto;
    margin-right:2px;
    padding:0;
    margin-top:13px;  
    background:transparent;
}
#daysUpdate{
    justify-content:center;
    margin-top:19px;
    margin-right:auto;
}
#halfDayPicker{
    margin-left:10px;
    margin-top:10px;
}
#halfDayPickerSlot{
    margin-left:20px;
    margin-top:0px;
}
#commentSection{
    margin-left:20px;
    
}
#UpdateBtn{
    max-width:10%;
    left:13px;
    bottom:24px;
}
#approverField{
    padding-left:22px;
    font-size:small !important;
}

.timeline li timeline-badge{
    width:24px;
    height:24px;
    margin-left:-13px;
    line-height:20px;
    box-shadow:none;
    margin-top:3%;
}
.timeline li timeline-panel{
    padding:1%;
}
.row {
    margin-left: 43%;
    margin-right: 9%;
    margin-top: 3%;
}

.timeline-icon{
    width:25px;
    height:25px;
    margin-bottom:30px;
}

.timeline-centered .timeline-entry .timeline-entry-inner {
    position: relative;
    margin-left: -15px !important;
}
.md-toolbar-tools{
    background:$theme_color !important;
}
md-card{
    margin:1px !important;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon{
    line-height:0px !important;
    box-shadow: 0 0 0 3px #D1D1D2 !important;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
    word-wrap:break-word;
    padding: 0.7em !important;
    
}
.timeline-centered:before{
    width:3px !important;
   background: #D1D1D2 !important;
}

.overflow-content{
    display:block;
    
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
   
}
#detailLeave{
    width:30%;
}
.workflowDiv{
    min-width:70%;
}
.myLeaveTitle-member{
    margin:2.5%;
    color:#636363;
}
.margin-top-40px{
    margin-top:-40px !important;
}