#logo{
	box-shadow:none !important;
	background-color:transparent;
	background-image:url("../images/people10_logo.png"); 
	background-repeat:no-repeat;
	background-position:center;
}
#loginCard{
	box-shadow:none !important;
	background-color:transparent;
	background-image:url("../images/LMS_login.png"); 
	background-repeat:no-repeat;
	background-position:center;
	height:auto !important;
  	
}
#loginDiv{
  margin:210px auto 100px auto;
	width:100%;
	max-width:450px;
	//margin-left:-6%;
	background-color:#bdbdbd;
	-webkit-box-shadow: 3px 7px 14px 0px rgba(204,196,204,0.81);
-moz-box-shadow: 3px 7px 14px 0px rgba(204,196,204,0.81);
box-shadow: 3px 7px 14px 0px rgba(204,196,204,0.81);
}
#forgotDiv{
  margin:210px auto 100px auto;
  width:100%;
  max-width:450px;
  //margin-left:-6%;
  background-color:#bdbdbd;
  -webkit-box-shadow: 3px 7px 14px 0px rgba(204,196,204,0.81);
-moz-box-shadow: 3px 7px 14px 0px rgba(204,196,204,0.81);
box-shadow: 3px 7px 14px 0px rgba(204,196,204,0.81);
}
#loginInputField{
	width:97%;
}
#loginBtn{
	width:95%;
	height:53px;
	background-color:#0778BE;
	color:white;
}
#forgotBtn{
	color:#4285f4;
	//margin-left:22%;
	padding:5%;
	cursor:pointer;
	decoration:none;
}
/*
$Pending: #fe9304;
$Future: #4caf50;
$Taken: #bdbdbd;

$colours: #fe9304,#4caf50,#bdbdbd;
$type: Pending, Future, Taken;
$color-code:zip($colours,$type);

@each $a in $color-code{
 type--#(nth($a,1)){
 background:nth($a,2);
 }
}
*/
#Pending{
	background-color:#fe9304;
	color:white;
  /*new css
  width:30px;
  height:30px;
  border-radius:50%;
  text-align:-webkit-center;
  padding-top:5px;*/
}
#Future{
	background-color:#4caf50;
	color:white;
}
#Taken{
	background-color:#bdbdbd;
	color:white;
}
.marginAuto{
	margin:auto;
	padding-top:8px !important;
}
.autoMargin{
	margin:auto !important;
}
.positionFixed{
	position:fixed;
}
.transparentBackground{
	background-color:transparent !important;
}
.positionAbsolute{
	position:absolute !important;
}




/* sidebar menu*/

.sidebar {
  position: fixed;
  z-index: 45;
  background: #F2F2F2;
  top: 55px;
  bottom: 0;
  left: 0;
  width: 200px;
  transition: all linear 0.5s;
  
  ul {
    position: relative;
    padding-top: 25px;
    
    li {
      list-style: none;
      position: relative;
      
      input[type="checkbox"] {
        display: none;
      }
      
      label {
        position: relative;
        
        &:after {
          content: "\f0d7 ";
          font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
          position: absolute;
          right: 30px;
          top: 40%;
        }
      }
      
      input[type="checkbox"]:checked {
        
        &~label {
          background: white;
          &:hover {
            background: none;
          }
          &:after {
            content: "\f0d8";
          }
        }
        &~ul {
          background: white;
          color: lighten(#757575, 15%);
          max-height: 200px;
          transition: all .6s ease;
        }
      }
      &:hover {
        background: lighten(#757575, 45);
        >a, label {
          color: grey;
        }
      }
      a,
      label {
        display: block;
        cursor: pointer;
        padding: 12px;
        padding-left:5px !important;
        text-decoration: none;
        color: lighten(#757575, 15%);
        font-weight: 600;
        span {
          display: inline-block;
          padding-left: 20px;
        }
        i {
          display: inline-block;
        }
      }
      ul {
        position: relative;
        transition: all .3s ease;
        padding: 0;
        margin: 0;
        max-height: 0;
        overflow: hidden;
        li {
          position: relative;
          list-style: none;
          &:hover {
            color: lighten(#757575, 15%);
          }
        }
      }
    }
  }
}

.activeView{
	background: #E7E7E7;
    color: #000;
    font-weight:500;
}

.show {
  transform: translateX(0px);
  opacity: 1;
}

.sideMenuDiv{
  .ng-hide {
    opacity: 0;
    transform: translateX(-250px);
  }
}

.md-open-menu-container{
position: absolute !important;
}

.leave-history-item {
  .more-button {
    &.md-open {
      display: block;
    }
    display : none;
  }
   &:hover {
    .more-button {
      display : block;
    }
  }

  .avatar{
    display:block;
  }
  .select-one{
  &.md-checked {
  display: block;
  } 
    margin: auto auto auto 25px;
    display:none;
  }
  .titleHeaderDiv{
    &:hover {
      .avatar{
        display:none;
      }
      .select-one{
        display:block;
      }
      .more-button {
        display : block;
      }
    }
  }
  
}



.commentDialog{
  width:395px;
  height:200px;
  position: fixed; 
  top: 50%; 
  left: 50%; 
  -webkit-transform: translateY(-50%) translateX(-50%) !important; 
  -moz-transform: translateY(-50%) translateX(-50%) !important; 
  -ms-transform: translateY(-50%) translateX(-50%) !important; 
  -o-transform: translateY(-50%) translateX(-50%) !important; 
  transform: translateY(-50%) translateX(-50%) !important; 
  fill: #fff;
}

.chip-card{
  /*margin-top:10px;*/
  background:#E0E0E0;
  height:32px;
  width:160px;
  border-radius:16px;
}
.chip-number{
  height:32px;
  width:32px;
  border-radius:16px;
  background:#fe9304;
  color:white;
  padding:5px;
  text-align:center;
  font-size:16px;
}
.chip-content{
  padding:6px 13px;
}
.approval-md-item{
  padding:10px 0px;
}