
$theme_color:#4285F4;



.erp-lms{
  background-color:#F2F2F2;
  width:100% !important;
  height:auto !important;
  position:relative;
  
}
#mainContent{

  width:70%;
  max-width:100%;
  /*margin:44px auto;*/
}
.header{
  height:60px;
  margin:0px auto !important;
  z-index:100;
}
.searchinput{
    font-size:1.2em;
    border: 0px solid #DBDBDB;
    /*background-color: #82b1ff;*/
    margin-left:1%;
    width: 60%;
}input::-webkit-input-placeholder{
     color:#ffffff;
 }


/*
.applyBtn{
  background-color: #000000;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  box-sizing: content-box;
  border: none;
  border-radius: 50%;
  
}*/

#toolDir{
  
}
/*
#planBtn{
  background:$theme_color;
  color:white;
  text-transform: capitalize;
  
}*/

#day_input{
  width:5%;
  margin-top:2%;
}

#applyBtn{
  background-color:green;
}

#cancelBtn{
  background-color:#D23F31;
}

/*
#floatingBtn{
  background-color:#D23F31;
}
*/
.remain-leave-div{
  min-width:25%;
}
#frameRemaining{
  background: $theme_color;
  height: 115px;
  min-width:134%;
}

#framePending{
  background: #FFC107;
  height: 40px;
}
#frameApproved{
  background: #4CAF50;
  height: 40px;
  margin-left:0%;
}
#framePrivilege{
  background: #E91E63;
  height: 40px;
}
#frameLOP{
  background: #9C27B0;
  height: 40px;
  margin-left:0%;
}
#frameTotal{
  background: #795548;
  height: 40px;
  background:scale-color($theme_color,$lightness:40%);
}


#leave-detail-frame{
  margin-left:4%;
  margin-top:0%;
}

#leave-summary-footer{
  margin-top:-4%;
  margin-left:4%;
  
  
}
#leaveSummaryContent{
  padding:0px !important;
}
#leaveValue{
  font-size:16px !important;
}
.leaveTypeDiv{
  margin-top:-2%;
}
#datePickDiv{
  margin-left:-1%;
}
.divideBorder{
  margin-left:-3%;
}
.comments-div{
  margin-top:-5%;
}
#comments{
  width:61%;
}
#leave-type{
  margin-left:3%;
  width:23%;
}
.submitCancelBtn{
  margin-top:-6%;
}
#leaveTypeTitle{
  text-align:left;
  margin-left:8px;
}

.applyfield{
  padding-top:2%;
  padding-left:3%;
  margin-bottom:3%;
  margin-right:0%;
}
.leaveRemainingDiv{
  width:62%;
}
.leaveSummaryDiv{
  width:82%;
}

.searchinput{
 
  color:white;
}
.search,
.searchinput{
  background:#5E97F6;
  min-height:36px;

  
}
.subheader1{
  margin-top:-2%;
  /*
  border-style:outset;
  border-color:white;
  background-color:white;*/
  margin:0px 8px;
}


#listViewBtn{
  margin-left:0%;
}
/*
#notificationBtn{
  margin-right:-2%;
}
#userBtn{
  margin-left:-1%;
}
*/
#detailBtn{
  margin-left:-3%;
}

.card{
	background-color: #ffffff;
    
}
md-fab-speed-dial.md-fab-bottom-right {
  position: fixed !important;
}
.md-button{
  text-transform:none ! important;
}

md-select-menu:not(.md-overflow) md-content{
  padding-top:0px !important;
  padding-bottom:0px !important;
}
md-dialog{
  min-width:300px!important;
}
/*
md-dialog md-dialog-actions{
  justify-content: center !important;
}
md-dialog .md-dialog-content{
  justify-content: center !important;
  text-align:center;
}*/
#forgotBtn {
   outline:0;
   
}
#forgotBtn:focus{
  text-decoration:underline;
}
.outline-none{
  outline :0;
}
.subheader1{
  margin:12px 10px 0px 10px!important;

}
.sweet-alert p{
  color:#000;
  font-size:15px;
  font-weight:300;
}
.sweet-alert button{
  background-color:#4285f4 !important;
}
.actionIconWhite{
  color:grey;
}

ng-md-icon.actionIconWhite:hover{
  color:white;
}

.actionIconBlack{
  color:grey;
}

ng-md-icon.actionIconBlack:hover{
  color:black;
}

.centerAlign{
  margin:0px !important;
  padding:0px !important
}
.contentTop{
  margin-top:0px !important;
  top:0px;
}
#applyFormTitle{
  margin:auto;
  padding-left:15px;
}
.myLeaveTitle{
  margin-left: 4.5%; 
  color:#636363;
}
.historyTitle{
  margin-left: 4.5%; 
  margin-top:2%; 
  color:#636363;
}
#sideMenuContent{
  position:fixed;
  top:72px;
  width:9%;
  background-color:transparent;  
}
.sideMenuContentToggle{
  left:-200px !important;
}
#sideMenuContentItem{
  background-color:transparent;
}
@-moz-document url-prefix() {
    .myLeaveTitle .historyTitle {
        margin-left: 4.3%;
    }
    .contentTop{
      margin-top:2px !important;
    }
    #newRequestDialogBox #days {
     margin-top:14px;
    }
    .actionIconBlack:hover{
      color:black;
    }
    .actionIconWhite:hover{
      color:white;
    }
    #approvalAction{
    height:85px;
    }
    
    #loginDiv{
    margin: 210px auto 10% !important;
    }

}
/*
@media (hover:on-demand) {
    ng-md-icon.actionIconBlack:hover {
        color: black -when-NOT-touch-device;
    }
    ng-md-icon.actionIconWhite:hover{
      color:white -when-NOT-touch-device;;
    }
}
*/

.avatar{
  width:30px;
  height:30px;
  border-radius:50%;
}

.icon-color-grey{
  color:grey !important;
  width:18px
}
.icon-color-grey:hover{
  color:white !important;
}
.margin-right-5px{
  margin-right:5px;
}
.margin-right-10px{
  margin-right:10px;
}
#newRequestDialogBox{
  transition:fast !important;
}
.minmizeDialog{
  transition:fast;
  width:50px !important;
  md-dialog-content, md-dialog-actions{
    display:none;
  }
}