.md-dialog {
  position: br;
}
.mfb-component__button--main, .mfb-component__button--child{
	background-color:#d23f31;
}
.md-button.md-warn.md-fab, .md-button.md-warn.md-fab:not([disabled]):hover{
	background-color:#d23f31;
}
md-toolbar:not(.md-menu-toolbar){
	background-color:transparent;
}

md-radio-button .md-off{
	width:16px;
	height:16px;
}
#request_toolbar{
	background-color:#212121 !important;
	height:50px;
}
/*
#request_toolbar{
	height:20%;
}*/
#fromDate{
	width:65%;
}
#days{
	margin-top:2%;
	padding-top:1%;
}
#toDate{
	margin-left:3%;
}
#reason{
	margin-left:6%;
	margin-top:5%;
	width:91%;
}
#leaveTypeRadio{
	margin-left:2.5%;
	margin-top:-3%;
	/*width:90%;*/
}
#halfDayDiv{
	margin-left:3%;
	margin-top:5%;
}
#chooseHalf{
	margin-left:7%;
	width:117%;
}
#approver{
	margin-top:4%;
	margin-left:6%;
	width:35%;
}
//mobile view

#fromDate_mobile{
	margin:11px;
}
#days_mobile{
	margin-left:25px;
	margin-top:35px;
}
#toDate_mobile{
	margin-left:11px;
}
#reason_mobile{
	margin-left:27px;
	margin-top:30px;
}
#halfDayDiv_mobile{
	margin-left:26px;
}
#chooseHalf_mobile{
	margin-left:13px;
	margin-top:10px;
}
#approver_mobile{
	margin-top:32px;
	margin-left:23px;
}