


  .tile{
    .folded{
      cursor: pointer;

    }
  }
  .user {
    background-color: white;
    transition: all 500ms;
    
    h3, p {
      transition: all 500ms;
    }
  
    p {
      opacity: 1;
      height: inherit;
  
      &.ng-hide {
        opacity: 0;
        height: 0;
      }
    }

    &.selected {
      margin: 30px -15px;
      

      .expanded {
        visibility: visible;
        &, & > * {
          max-height: 700px;
          opacity: 1;
        }

        .md-label {
          border: hidden;
        }
      }

      h3 {
        font-size: 1.8em;
      }
    }

    .expanded {
      visibility: hidden;
      &, & > * {
        max-height: 0;
        opacity: 0;
        transition: all 500ms;
      }
      .split {
        padding: 10px;
      }
    }

    .face {
      border-radius: 30px;
      border: 1px solid #ddd;
      width: 48px;
      height: 48px;
      margin: 16px;
    }
  }
