.sub-menu-tab-div {
	margin-bottom:25px;
	md-tabs{
		height:1060px;
	}
}
.basic-info-div{
	margin-right:10px;
}
.contact-info-div{
	margin-left:10px;
}
.basic-info-card, .local-add-card, .permanent-add-card{
	margin-bottom:20px !important;
}
.personal-info-card{
	margin-top:20px !important;
}
.pic-div{
	height:350px;
	background-color:#404040;
}
.cover-div{
	height:350px;
	background-image:url("../images/cover_image3.jpg");
	background-repeat:no-repeat;
	background-position:center;
}
.info-card-header{
	padding-left:16px;
	padding-bottom:16px;
}
.font-bold{
	font-weight:bold;
}
.profile-avatar{
	width:120px;
	height:120px;
	border-radius:50%;
	margin:65px auto 0px auto;
}
.user-name-header{
	color:white;
}
md-tabs-canvas{
	background:white;
}
.edit-header{
	color:#427fed;
	padding-left:16px;
	cursor:pointer;
	&:hover{
		color:#427fed;
		text-decoration:underline;
	}
	&:focus{
		text-decoration:underline;
	}
}
.edit-dialog-box{
	width:680px;
	/*position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -340px;*/
}
.edit-box-header{
	height:150px;
}
.edit-form-title{
	font-weight:bold;
	color:white;
	/*margin-top:25px;*/
}
.info-btn{
	opacity:0.5;
	box-shadow:none !important;
}
.btn-div{
	justify-content:center;
	margin-bottom:10px;
}
.close-image{
	float:right;
	margin:8px;
	color:grey;
}

html {
	top: 0;
	left: 0;
	right: 0;
	bottom:0;
}
body.erp-lms {
	top: 0;
	right:0;
	bottom:0;
	left:0;
	height: 100% !important;
}

#main-content {
	position: absolute;
	top: 60px;
	left:0;
	right:0;
	bottom:0;
	overflow: auto;
}
.edit-dialog-box{
    top:30px;
  }
.emp-basic-detail-div{
	margin:4%;

}
.genderRadioBtn{
	margin-top:24px;
	height:23px;
}
.active-btn{
	background-color:white !important;
}
.datepicker-label{
	color: #C0C0C0;
    margin-top: 18px;
    width: 188px;
}
.datepicker-section{
	padding-top:13px;
}
.team-view-profile-avatar{
	width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 20px auto 0px auto;
}
.team-sub-menu{
	background-color:white;
	height:50px;
}
.team-leave-summary-header{
	color:#2196F3;
	margin-left:24px;
}
.team-sub-menu-div{
	padding-top:15px;
	height:47px;
	width:150px;

}
.team-sub-menu-border{
	height:3px;
	width:150px;
	background:#FFAB40;
}
.light-box-shadow{
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.02), 0px 1px 1px 0px rgba(0, 0, 0, 0), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.empStatusDiv{
	md-switch{
		margin:0px;
	}
}
.addEmployeeDialogBox{
	transition: fast !important;
	position: fixed !important;
	bottom: -0.5%;
	right: 7%;
	width:100%;
	max-width:550px;
	height:auto !important
}
.auto-margin-zero{
	margin:auto 0px;
}
.section-padding{
	padding:5px 0px;
}
.section-content{
	font-size:14px !important;
}
