$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/ng-material-floating-button/mfb/src/mfb.scss";
// endbower

@import "myStyle";
@import "leaveHistoryStyle";
@import "leaveApprovalStyle";
@import "requestFormStyle";
@import "timeLineStyle";
@import "loginStyle";
@import "userDetail";
@import "../main/scripts/directives/leave_summary/_leave_summary.scss";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;

}
/*
.body{
  overflow-y: auto !important;
  overflow-x: hidden !important;
}*/


.header{
  top:0px;
  left:0px;
  right:0px;
  position:fixed;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}
.subheader{
  margin-top:0% !important;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
  margin:0px;

}

/* Custom page header */
.header {
  //border-bottom: 1px solid #e5e5e5;
  //margin-bottom: 10px;


  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.floating_menu{
  background-color:"red";
}
.sweet-alert{
  width:auto !important;
  height:auto !important;

}
.md-button.md-primary.md-raised{
  background-color:#4285F4 !important;
}
md-dialog md-dialog-actions{
  justify-content:flex-start !important;
}
.md-dialog-is-showing{
  max-height:none !important;
  overflow:hidden !important;
}

/*
.layout-fill{
  height:auto !important;
}*/

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

.md-toolbar-tools{
  background:white;

}
md-toast.md-default-theme .md-toast-content .md-button, md-toast .md-toast-content .md-button{
  color:#a1c2fa;
}
.md-datepicker-calendar-pane.md-pane-open{
  position:absolute !important;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}
/*
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
*/
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  .edit-dialog-box{
    max-height:91%;
    top:30px;
  }
  .container {
    max-width: 730px;
  }


  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

}

@media screen and (min-width:320px) and (max-width:700px){
  .minmizeDialog{
    height:auto !important;
  }
  .edit-box-header{
    min-height:175px;
    height:auto;
  }
  .edit-box-header .more-add-button{
    margin-top: 0px!important;
    margin-left: 75% !important;
  }
  .avatar-div{
    width:50px;
  }
  #mainContent{
    width:100%;
  }
  #newRequestDialogBox{

    height:80%;

  }
  .addEmployeeDialogBox{
    right:0px;
  }
  .sub-menu-tab-div {

    md-tabs{
      height:1600px;
    }
}
  .basic-info-div{
    margin-right:0px;
  }
  .contact-info-div{
    margin-left:0px;
  }
  .select-one{
    margin:auto auto auto 20px !important;
  }
  .selectAllCheck{
    margin-left:27px !important;
  }
  #forgotDiv{
  margin:auto;
  }
  .monthTitle {
    margin-left: 10.4%;
  }
  .titleHeaderDiv{
    margin-left:2%;
  }
  #detailLeave{
   width:100% !important;
  }
  #approvalDetailDiv{
    width:100% !important;
  }
  #approverField{
  padding-left:30px;
  }
  .sidebar{
    background-color:white;
  }
  #loginCard{
    background-image:none !important;
  }
  #loginDiv{
  margin-left:0px;
  margin:auto !important;
  }
  #leaveSummaryCard{
    min-width:200px !important;

  }
  #daysUpdate{
    margin-left:18px;
    margin-top:28px;
  }
  #dateSectionToDate{
    margin-top:-10px;
  }
  #halfDayPicker{
    margin-top:42px;
  }
  .max_width_span{
    max-width:90px;
    font-size:small;
  }
  .chip-card{
    width:100px;
  }
  .chip-content{
    padding:6px 2px;
  }

}
@media only screen and (min-device-width:700px) and (max-device-width:1024px) and (-webkit-min-device-pixel-ratio: 1){
  .md-card-detail-view{
    width:100%;
  }
  .max_width_span{
    max-width:100px;
    font-size:small;
  }
  #detailLeave{
   width:100% !important;
  }
  #approvalDetailDiv{
    width:100% !important;
  }
  .sidebar{
    background-color:white;
  }
   /*#newRequestDialogBox{
    width:100% !important;
    max-height:550px !important;
  }*/
   #leaveSummaryCard{

    -webkit-flex-wrap:wrap;
    flex-wrap: wrap;

  }
  #leaveSummaryContent{
    flex-wrap: wrap;
  }
  #loginCard{
    background-image:none !important;
  }/*
  #loginDiv{
  margin-left:0px;

  }
  #daysUpdate{
    margin-left:20px;
    margin-top:19px;
  }
  #commentSection{
    width:96% !important;
  }
  #dateSectionToDate{
    margin-left:-10px;
  }
  */

}
@media screen and (max-height:650px){
 .edit-dialog-box{
    max-height:80%;
  }
}
/*@media screen and (min-width:960px) and (max-width:1280px){
  #leaveSummaryCard{
    min-width:25% !important;
  }
  #dateSectionToDate{
    margin-left:-126px;
  }
  #inputContainerDays{
    width:145px;
  }
}*/
@media screen and (min-width:600px) and (min-height:1024px){
  /*#leaveSummaryCard{
    min-width:40% !important;
  }*/
  #loginCard{
    background-image:none !important;

  }/*
  #loginDiv{
  margin-left:0px;
  }*/
}
@media screen and (min-width:1280px){
 /* #commentSection{
    width:93% !important;
  }*/
}
@media screen and (min-width:1440px){
  /*#commentSection{
    width:92.8% !important;
  }*/
}
@media screen and (min-width:2560px){
/*
  #dateSection{
    margin-right:13% !important;
  }
  #dateSectionToDate{
    margin-left:23% !important;
  }
  */
}
@media screen and (min-width:1920px) and (min-height:1080){
/*
  #dateSection{
    margin-right:8% !important;
  }
  #dateSectionToDate{
    margin-left:12% !important;
  }*/
}

md-toast{
  position: fixed !important;
    bottom: 3% !important;
    height: auto !important;
    left:2% !important;
}

.datepicker-input{
  margin-left: 10%;
  margin-top:15px;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
}
.animate-switch-container {
  position:relative;
  background:white;
  border:1px solid black;
  height:40px;
  overflow:hidden;
}

.animate-switch {
  padding:10px;
}

.animate-switch.ng-animate {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
  top:-50px;
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
  top:0;
}

  .date-picker-row {
    margin-left: -15px;
    position: relative;
    min-height: 60px;
}
.date-picker-row label {
    position: absolute;
    top: -35px;
    left: 16px;
    color: rgba(0, 0, 0, 0.541176);
    font-size: 12px;
}
.date-picker-row .md-datepicker-input-container {
    margin-left: 0;
}
.tab-button{
  color:#7f7f7f !important;
  margin: 0px !important;
}
.tabButtonActive{
  color:#2196f3 !important;
  border-bottom:#FFAB40 !important;
  border-bottom-style: solid !important;
}
.tab-div{
  border-style: solid;
  border-width: thin;
  border-color: rgba(0, 0, 0, 0.08);
  height :55px;
}
.more-add-button{
  /*float:right; */
  background-color:#FA769B !important;
  margin-top:-23px !important;
  margin-left:85% !important;
}
#Eligibility{
  background-color: #01579b;
}
#Approved{
  background-color: #4CAF50;
}
#Remaining{
  background-color: #00897b;
}
#Pending{
  background-color: #fe9304;
}
