<section layout="row">
    <md-icon class="centerAlign contentTop" flex="15" md-svg-src="{{options.imageUrl}}" aria-label="Cancel dialog"></md-icon>
    <div class="centerAlign" flex layout="column">
        <p id="sectionHead">{{options.sectionHead}}</p>
        <p id="sectionContent" class="overflow-content ">{{filteredContent}}</p>
    </div>
</section>
