<div layout="row" layout-wrap layout-xs="column" style="margin:0px 7px" flex="100">

	<md-card ng-repeat="leave in leaveSummary" ng-if="leave.total!==0" style="margin:14px 7px!important;background: #f2f2f2;" flex="auto">
		<div show-sm show-xs flex flex-gt-md style="max-height:52px">
			<section layout="row" style="align-items: center;" layout-wrap>
				<md-button hide-sm id={{leave.title}} class="md-fab md-mini" aria-label="Eligibility">
					<md-icon md-svg-src="images/leave/{{leave.title}}.svg"></md-icon>
				</md-button>

				<section style="padding-left:7%">
					<h4 show-sm>{{leave.title}}</h4>
				</section>
			</section>
		</div>
		<md-divider></md-divider>
		<md-card-content style="padding:15px !important;">

			<div ng-repeat="data in leave.data" layout="row">
				<h5 ng-if="data.count>0" style="min-width:90%">{{data.type}}</h5>
				<h5 ng-if="data.count>0">{{data.count}}</h5>
			</div>

		</md-card-content>
	</md-card>

</div>
