<div ng-hide="approverList.length===0" style="margin: 20px 4% 0% 2%;z-index: 100;height:20px;" layout="row" layout-align="space between center">

    <md-checkbox md-no-ink="" class="md-primary selectAllCheck" ng-model="selectedAll" aria-label="Checkbox 1" ng-change="selectAll()"></md-checkbox>
    <md-button md-no-ink="" style="padding-top:0px !important;" ng-if="approveAllValue" ng-disabled="!approveBtn" ng-click="approveAll()" layout="row" layout-align="end end" class="md-icon-button md-primary" aria-label="Settings">
        <md-tooltip>Approve all</md-tooltip>
        <md-icon class="approveAllIcon" md-svg-icon="images/approve_all.svg"></md-icon>
    </md-button>
</div>
<md-content id="main" layout="horizontal" layout-align="center">

    <md-list style="padding:0px !important;" flex>

        <div id="content">
            <center ng-show='progress'>
                <md-progress-circular md-mode='{{progress_mode}}' md-diameter="70"></md-progress-circular>

            </center>
            <center>
                <p ng-show="noData">No leaves to approve</p>
            </center>
            <div ng-repeat="list in approverList">
                <h4 class="monthTitle">{{list.title}}</h4>
                <div ng-repeat="record in list.data">
                    <p style="margin-left: 3%; margin-top:2%;" ng-if="record.divider && record.count>0">{{record.title}}</p>
                    <md-card class="outline-none leave-history-item" style=" box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.02), 0px 1px 1px 0px rgba(0, 0, 0, 0), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);!important" id="headerWrapper" ng-if="!record.divider" ng-hide="$index == selectedUserIndex && title == list.title">
                        <md-item layout="row" class="approval-md-item overflow-content">
                            <div class="titleHeaderDiv" style="width:75px;">
                                <center>
                                    <img ng-src="images/alphabets/{{record.employeeFirstName.charAt(0)|uppercase}}.png" class="avatar" ng-hide="record.value">
                                    <md-checkbox md-no-ink="" class="select-one md-primary" ng-change="unSelectAll(record.value)" $event.stopPropagation() ng-model="record.value" aria-label="Checkbox 1"></md-checkbox>
                                </center>

                            </div>
                            <div class="collapsed-row overflow-content outline-none" layout="row" layout-align="start center" flex="100">

                                <div class="overflow-content outline-none" style="padding-top:5px;" layout="row" ng-click="leaveDetails($event, $index,list.title, record.leaveId, record.fromEmployee)" flex="">
                                    <div class="overflow-content" style="width:150px">{{ record.employeeFirstName|capitalize}} {{ record.employeeLastName|capitalize}}</div>
                                    <div class="overflow-content" style="width:80%">
                                        <p class="overflow-content" style="margin-left:10px;">{{ record.fromDate | date }}&nbsp - &nbsp{{ record.toDate | date }}&nbsp&nbsp-&nbsp &nbsp{{ record.description|capitalize }}</p>
                                        <div class="overflow-content" layout="row" layout-xs="column">
                                            <div style="margin-left:10px;" class="chip-card" layout="row">
                                                <div class="chip-number">{{record.numberOfDays}}</div>
                                                <div class="chip-content overflow-content">{{ record.leaveType |capitalize }}</div>
                                            </div>
                                            <div style="margin-left:10px;height:10px;"></div>
                                            <div ng-if="record.status==='Cancellation In Progress'" style="margin-left:10px;" class="chip-card" layout="row">
                                                <div class="chip-content overflow-content">Cancellation Request</div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- <span > &nbsp&nbsp&nbsp-&nbsp&nbsp&nbsp {{ record.leaveType |capitalize }}</span>
                                <span >&nbsp&nbsp&nbsp-&nbsp&nbsp&nbsp{{ record.description |capitalize}}</span> -->
                                    <span flex=""></span>
                                </div>
                                <md-menu-bar class="more-button" style=" margin-top:-40px;" hide-xs hide-sm $event.stopPropagation();>
                                    <md-menu md-offset="0 65" md-position-mode="target-right target" $event.stopPropagation();>
                                        <md-button class="md-icon-button more-btn" ng-click="$mdOpenMenu();" $event.stopPropagation(); class="positionAbsolute">
                                            <md-icon class="actionIcon" aria-label="moreIcon" md-svg-icon="images/more_vert.svg"></md-icon>
                                            <!-- <md-tooltip md-direction="right">Leave actions...</md-tooltip> -->
                                        </md-button>
                                        <md-menu-content width=2>
                                            <md-menu-item class="md-indent">
                                                <md-title class="menu-bar-title">Leave actions...</md-title>
                                            </md-menu-item>
                                            <md-menu-divider></md-menu-divider>
                                            <md-menu-item class="md-indent">
                                                <md-icon class="actionIcon" md-svg-src="images/done_black.svg" aria-label="approveIcon"></md-icon>
                                                <md-button ng-click="leaveResponse($event,record,'Approve',userComment,true);">Approve</md-button>
                                            </md-menu-item>
                                            <md-menu-item class="md-indent">
                                                <md-icon class="actionIcon" md-svg-src="images/undo_black.svg" aria-label="sendbackIcon"></md-icon>
                                                <md-button ng-click="showPrompt($event,record, 'Sendback')">Sendback</md-button>
                                            </md-menu-item>
                                            <md-menu-item class="md-indent">
                                                <md-icon class="actionIcon" md-svg-src="images/delete_forever.svg" aria-label="denyIcon"></md-icon>
                                                <md-button ng-click="showPrompt($event,record, 'Deny')">Deny</md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>

                                    <!--  <div hide-xs hide-sm ng-show="hover" >
                                <md-button ng-disabled="approvalValue" ng-click="leaveResponse($event,record,'Approve',userComment,true);"  id="editBtn" class="md-icon-button">
                                <md-tooltip>Approve</md-tooltip>
                                    <ng-md-icon class="actionIconBlack" icon="done"></ng-md-icon>
                                </md-button>
                            </div> -->

                            </div>
                        </md-item>
                    </md-card>
                    <md-card class="outline-none" id="contentWrapper" ng-if="!record.divider" ng-show="$index == selectedUserIndex && title == list.title" ng-mousenter="hover = true" ng-mouseleave="hover = false">
                        <div layout="column" flex>
                            <div class="outline-none" layout="row">
                                <div>
                                    <!-- <img alt="{{ record.name.charAt(0) }}" ng-src="images/default_user.jpg" class="md-avatar" /> -->
                                    <!-- <md-button id="personIcon"  id="daysBtn" style="" class="md-fab md-mini md-primary" ng-mouseenter="check = true" ng-mousleave="check = false" ><p style="font-size:large !important">{{record.employeeName.charAt(0)}}</p></md-button> -->

                                </div>
                                <div class="collapsed-row outline-none" layout="row" layout-align="start center" flex="" ng-click="selectUserIndex($index, list.title)">
                                    <span></span>
                                    <h4 ng-if="record.numberOfDays<=1" style="margin:19px;">Request for {{record.numberOfDays}} day Leave</h4>
                                    <h4 ng-if="record.numberOfDays>1" style="margin:19px;">Request for {{record.numberOfDays}} days Leave</h4>
                                    <!-- <span flex="15">{{ record.employeeName|capitalize}}</span>
                            <span >{{ record.fromDate | date }}&nbsp - &nbsp{{ record.toDate | date }}</span>
                            <span > &nbsp&nbsp&nbsp-&nbsp&nbsp&nbsp {{ record.leaveType |capitalize }}</span>
                            <span >&nbsp&nbsp&nbsp-&nbsp&nbsp&nbsp{{ record.description |capitalize}}</span> -->
                                    <span flex=""></span>
                                </div>
                                <md-menu-bar class="autoMargin" $event.stopPropagation();>
                                    <md-menu md-offset="0 65" md-position-mode="target-right target" $event.stopPropagation();>
                                        <md-button class="md-icon-button" ng-click="$mdOpenMenu()" $event.stopPropagation(); class="positionAbsolute">
                                            <md-icon class="actionIcon" md-svg-icon="images/more_vert.svg" aria-label="moreIcon"></md-icon>
                                            <!-- <md-tooltip md-direction="right">Leave actions...</md-tooltip> -->
                                        </md-button>
                                        <md-menu-content width=2>
                                            <md-menu-item class="md-indent">
                                                <md-title class="menu-bar-title">Leave actions...</md-title>
                                            </md-menu-item>
                                            <md-menu-divider></md-menu-divider>
                                            <md-menu-item class="md-indent">
                                                <md-icon class="actionIcon" md-svg-src="images/done_black.svg" aria-label="approveIcon"></md-icon>
                                                <md-button ng-click="leaveResponse($event,record,'Approve',userComment,true);">Approve</md-button>
                                            </md-menu-item>
                                            <md-menu-item class="md-indent">
                                                <md-icon class="actionIcon" md-svg-src="images/undo_black.svg" aria-label="sendbackIcon"></md-icon>
                                                <md-button ng-click="showPrompt($event,record, 'Sendback')">Sendback</md-button>
                                            </md-menu-item>
                                            <md-menu-item class="md-indent">
                                                <md-icon class="actionIcon" md-svg-src="images/delete_forever.svg" aria-label="denyIcon"></md-icon>
                                                <md-button ng-click="showPrompt($event,record,'Deny')">Deny</md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                    <!-- <span>
                                <md-button ng-disabled="approvalValue"  ng-click="leaveResponse($event,record,'Approve',userComment,true);"  id="editBtn" class="md-icon-button">
                                <md-tooltip>Approve</md-tooltip>
                                    <ng-md-icon class="actionIconBlack" icon="done"></ng-md-icon>
                                </md-button>
                            </span> -->
                                    <!-- <span  >
                                <md-button  ng-click=""  id="editBtn" class="md-icon-button">
                                    <md-icon md-svg-src="images/edit.svg" aria-label="Edit dialog"></md-icon>
                                </md-button>
                            </span> -->
                                    <!-- <span >
                				<md-button ng-click="leaveResponse($event,record,'Deny',userComment, true);" style="background-color:white;" id="cancelBtn" class="md-icon-button" >
                                    <md-icon md-svg-src="images/cancel.svg" aria-label="Cancel dialog"></md-icon>
                                </md-button>

                            </span> -->


                            </div>
                            <md-divider></md-divider>
                            <md-card-content>

                                <!-- profile div -->
                                <div class="profile-div " layout="row">

                                    <!-- pic div -->
                                    <div class="pic-div " flex="30" flex-sm="50" flex-xs="100">

                                        <img style="margin: 65px auto 0px auto;" ng-src="images/profile_alter.jpg" class="profile-avatar">
                                        <center>
                                            <h4 class="user-name-header">{{record.employeeFirstName | capitalize}}  {{record.employeeLastName | capitalize}}</h4>
                                            <p class="user-name-header">{{record.designation}}</p>
                                            <p class="user-name-header">{{record.employeeOfficialId}}</p>

                                        </center>

                                    </div>
                                    <!-- pic div end-->

                                    <!-- cover div -->
                                    <div class="cover-div" flex="70" flex-sm="50" flex-xs="0">

                                    </div>

                                </div>
                                <md-card>
                                    <!-- <p>{{record.fromEmployee}}</p> -->
                                    <leave-summary-card employeeid="record.fromEmployee"></leave-summary-card>

                                    <!-- <div class="overflow-content" ng-include="'manager/views/approvals_leave_summary.html'"></div> -->

                                </md-card>



                                <md-card>
                                    <md-card-content style="padding:0%;">
                                        <div layout="row" layout-sm="column" layout-xs="column">

                                            <div id="approvalDetailDiv">
                                                <!-- <md-card class="outline-none" ng-click="memberSpace($event,record.fromEmployee, $index,list.title, record.leaveId)">
                                                <md-card-content id="employeeDetail">
                                                    <section class="autoMargin" layout="row" >
                                                        <md-button class="autoMargin md-fab md-primary" aria-label="Profile"><p style="font-size:xx-large !important">{{record.employeeName.charAt(0)|uppercase}}</p></md-button>
                                                        <div style="margin-left:3%" flex layout="column">
                                                            <p style="margin:0%; font-size:large">{{record.employeeName | capitalize}}</p>
                                                            <p style="margin:0%">{{record.designation}}</p>
                                                            <p style="margin:0%">{{record.employeeOfficialId}}</p>
                                                        </div>
                                                    </section>


                                                </md-card-content>
                                            </md-card>
                                            <p></p> -->
                                                <md-card>
                                                    <md-card-content id="leaveDetail">
                                                        <detail options="{'imageUrl':'images/when.svg','sectionHead':'When'}" datefilter="date" content="record"></detail>
                                                        <p></p>
                                                        <p></p>
                                                        <detail options="{'imageUrl':'images/Type.svg','sectionHead':'Leave Type'}" datefilter="capitalize" content="record.leaveType"></detail>
                                                        <p></p>
                                                        <p></p>
                                                        <detail options="{'imageUrl':'images/reason.svg','sectionHead':'Reason'}" datefilter="capitalize" content="record.description"></detail>
                                                    </md-card-content>
                                                </md-card>
                                                <p></p>
                                                <md-card>
                                                    <md-card-content id="lastLeaveDetail">
                                                        <div style="margin-left:13px !important;" layout="row" layout-xs="column" flex>
                                                            <manager-leave-detail flex options="{'imageIcon':'assignment_ind','sectionHead':'Applied on'}" datefilter="date" content="record.appliedOn"></manager-leave-detail>
                                                            <manager-leave-detail flex options="{'imageIcon':'assignment_turned_in','sectionHead':'Last Leave Taken'}" datefilter="date" content="record"></manager-leave-detail>
                                                        </div>
                                                        <p></p>
                                                        <p></p>
                                                        <div style="margin-left:13px !important;" layout="row" layout-xs="column" flex>
                                                            <manager-leave-detail flex options="{'imageIcon':'assignment_return','sectionHead':'Total Leave Taken'}" content="record.totalLeavesTaken"></manager-leave-detail>
                                                            <manager-leave-detail flex options="{'imageIcon':'assignment_late','sectionHead':'Leave Remaining'}" content="record.leaveRemaining"></manager-leave-detail>
                                                        </div>

                                                    </md-card-content>
                                                </md-card>

                                            </div>
                                            <div style="min-width:60%" flex>
                                                <md-toolbar>
                                                    <div class="md-toolbar-tools">
                                                        <span><b>Approval Workflow</b></span>
                                                        <!-- fill up the space between left and right area -->
                                                        <span flex></span>

                                                    </div>
                                                </md-toolbar>
                                                <md-content flex style="height:auto; max-height:338px">
                                                    <div ng-include="'main/views/timeline_workflow.html'"></div>
                                                </md-content>

                                            </div>
                                        </div>
                                    </md-card-content>
                                </md-card>

                            </md-card-content>
                            <md-divider></md-divider>
                            <div layout="row" id="approvalAction">
                                <div class="autoMargin" style="width:40px;margin-left:5px !important;">
                                    <!-- <img alt="{{ record.name.charAt(0) }}" ng-src="images/default_user.jpg" class="md-avatar" /> -->
                                    <!-- <md-button  ng-click=""  id="editBtn" class="md-icon-button">
                                    <md-icon md-svg-src="images/person.svg" aria-label="Edit dialog"></md-icon>
                                </md-button> -->
                                    <img ng-src="images/alphabets/{{globals.currentUser.name.charAt(0)|uppercase}}.png" class="avatar" ng-hide="record.value">
                                </div>
                                <div class="collapsed-row" layout="row" layout-align="start center" flex="">
                                    <form name="commentForm" style="width:100%" layout="row" novalidate="">
                                        <md-input-container ng-class="{'formErrors':  validation==false }" style="margin-top:1%;;height:32px;" show-gt-sm class="md-block" flex="" flex-xs="auto">
                                            <label ng-class="{formErrors:commentLabel=='Comment is Required'}" ng-show="!commentForm.$valid" style="">{{commentLabel}}</label>

                                            <input ng-pattern="/[^\s]+/" maxlength="100" required name="comment" ng-model="userComment" />



                                        </md-input-container>

                                        <section layout="row" style="margin-top:1%;">


                                            <md-button ng-disabled="approvalValue" ng-click="leaveResponse($event,record,'Approve',userComment, true);" id="editBtn" class="md-icon-button">
                                                <md-tooltip>Approve</md-tooltip>
                                                <ng-md-icon class="actionIconBlack" icon="done"></ng-md-icon>
                                            </md-button>
                                            <md-button ng-disabled="approvalValue" ng-click="leaveResponse($event,record,'Sendback',userComment, commentForm.$valid);" id="editBtn" class="md-icon-button">
                                                <md-tooltip>Sendback</md-tooltip>
                                                <ng-md-icon class="actionIconBlack" icon="undo"></ng-md-icon>
                                            </md-button>
                                            <md-button ng-disabled="approvalValue" ng-click="leaveResponse($event,record,'Deny',userComment, commentForm.$valid);" class="md-icon-button">
                                                <md-tooltip>Deny</md-tooltip>
                                                <ng-md-icon class="actionIconBlack" icon="close"></ng-md-icon>
                                            </md-button>
                                        </section>
                                    </form>



                                </div>
                            </div>
                        </div>
                    </md-card>
                </div>
            </div>
        </div>
    </md-list>

</md-content>
