<leave-summary name="leave"></leave-summary>
<md-content id="main" layout="horizontal" layout-align="center">
    <md-list flex>
        <div id="content">

            <div ng-repeat="h in history">
                <h4 class="historyTitle">{{h.title}}</h4>
                <div ng-repeat="record in h.data">
                    <md-card class="leave-history-item" id="headerWrapper" style="box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.02), 0px 1px 1px 0px rgba(0, 0, 0, 0), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);!important" ng-hide="$index == selectedUserIndex && title == h.title"
                        ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                        <md-item layout="row">
                            <div class="outline-none" style="margin:auto auto auto 20px;" ng-click="leaveDetails($event,$index, h.title, record.leaveRequestId)">

                                <!-- <div  id="{{h.title}}"> {{record.numberOfdays}}</div> -->

                                <md-button id="{{h.title}}" class="md-fab md-mini">{{record.numberOfdays}}</md-button>

                            </div>
                            <div flex="5"></div>
                            <div class="collapsed-row overflow-content outline-none" layout="row" layout-align="start center" flex="">

                                <div class="overflow-content outline-none" ng-click="leaveDetails($event, $index, h.title, record.leaveRequestId)" flex>

                                    <span>{{ record.fromDate | date:'MMM dd , yyyy' }}&nbsp - &nbsp{{ record.toDate | date:'MMM dd , yyyy' }}</span>
                                    <span> &nbsp&nbsp&nbsp-&nbsp&nbsp&nbsp {{ record.typeOfLeave |capitalize }}</span>
                                    <span>&nbsp&nbsp&nbsp-&nbsp&nbsp&nbsp{{ record.description |capitalize}}</span>
                                    <span flex=""></span>
                                </div>
                                <!-- menubar -->
                                <md-menu-bar class="more-button" hide-xs hide-sm>
                                    <md-menu md-offset="0 65" md-position-mode="target-right target">
                                        <md-button class="md-icon-button" ng-click="$mdOpenMenu($event);" $event.stopPropagation();>
                                            <md-icon md-svg-src="images/more_vert.svg" aria-label="Edit dialog"></md-icon>
                                            <!-- <md-tooltip md-direction="right">Leave actions...</md-tooltip> -->
                                        </md-button>
                                        <md-menu-content width=2>
                                            <md-menu-item class="md-indent">
                                                <md-title>Leave actions...</md-title>
                                            </md-menu-item>
                                            <md-menu-divider></md-menu-divider>
                                            <md-menu-item class="md-indent">
                                                <!-- <md-tooltip md-direction="right">Cancel your leave</md-tooltip> -->
                                                <md-icon class="actionIcon" md-svg-src="images/trash.svg" aria-label="Edit dialog"></md-icon>
                                                <md-button ng-click="showPrompt($event,record)">Trash</md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </md-menu-bar>
                            </div>
                        </md-item>
                    </md-card>

                    <!-- detailed view -->

                    <md-card id="contentWrapper" ng-show="$index == selectedUserIndex && title == h.title" ng-mouseover="hover = true" ng-mouseout="hover = false">
                        <div layout="column" flex>
                            <div layout="row" flex $event.stopPropagation()>
                                <div class="outline-none" flex="95" ng-click="selectUserIndex($index, h.title)">
                                    <h4 ng-if="record.numberOfdays<=1" style="margin:19px;">Leave applied for {{record.numberOfdays}} day</h4>
                                    <h4 ng-if="record.numberOfdays>1" style="margin:19px;">Leave applied for {{record.numberOfdays}} days</h4>
                                </div>
                                <!-- menubar -->

                                <span style="margin:auto">
                                <md-menu-bar>
                                    <md-menu md-offset="0 65" md-position-mode="target-right target">
                                        <md-button class="md-icon-button" ng-click="$mdOpenMenu()" $event.stopPropagation();>
                                            <md-icon class="actionIcon" md-svg-src="images/more_vert.svg" aria-label="more"></md-icon>
                                            <!-- <md-tooltip md-direction="right">Leave actions...</md-tooltip>    -->
                                        </md-button>
                                        <md-menu-content width=2>
                                            <md-menu-item class="md-indent">
                                                <md-title>Leave actions...</md-title>
                                            </md-menu-item>
                                            <md-menu-divider></md-menu-divider>
                                            <md-menu-item class="md-indent" ng-if="workflow[0].actionTaken=='Sendback'">
                                                <!-- <md-tooltip md-direction="right">Update your leave</md-tooltip>  -->
                                                <md-icon class="actionIcon" md-svg-src="images/edit.svg" aria-label="update"></md-icon>
                                                <md-button ng-click="updateLeave(record, $event);">Update</md-button>
                                            </md-menu-item>
                                            <md-menu-item class="md-indent">
                                                <!-- <md-tooltip md-direction="right">Cancel your leave</md-tooltip> -->
                                                <md-icon class="actionIcon" md-svg-src="images/trash.svg" aria-label="cancel"></md-icon>
                                                <md-button ng-click="showPrompt($event,record)">Trash</md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </md-menu-bar>
                            </span>
                            </div>
                            <md-divider></md-divider>
                            <md-card-content>

                                <md-card>
                                    <md-card-content style="padding:0%;">
                                        <div layout="row" layout-xs="column" layout-sm="column">
                                            <!-- workflow -->
                                            <div class="workflowDiv">
                                                <md-toolbar>
                                                    <div class="md-toolbar-tools">
                                                        <span><b>Approval Stage</b></span>
                                                        <span flex></span>

                                                    </div>
                                                </md-toolbar>
                                                <md-content flex style="height:auto; max-height:200px">
                                                    <work-flow name="workflow"></work-flow>
                                                </md-content>
                                            </div>
                                            <!-- leave details -->
                                            <div id="detailLeave">
                                                <md-card>
                                                    <md-card-content id="leaveHistoryView">
                                                        <section layout="row">
                                                            <md-icon class="centerAlign contentTop" flex="15" md-svg-src="images/when.svg" aria-label="Cancel dialog"></md-icon>
                                                            <div class="centerAlign" flex layout="column">

                                                                <p id="sectionHead">When</p>
                                                                <p id="sectionContent" style="font-size=12px;">{{ record.fromDate | date }} to {{ record.toDate | date }}</p>
                                                            </div>
                                                        </section>
                                                        <p></p>
                                                        <p></p>
                                                        <section layout="row">
                                                            <md-icon class="centerAlign contentTop" flex="15" md-svg-src="images/Type.svg" aria-label="Cancel dialog"></md-icon>
                                                            <div class="centerAlign" flex layout="column">
                                                                <p id="sectionHead">Leave Type</p>
                                                                <p id="sectionContent">{{ record.typeOfLeave|capitalize }}</p>
                                                            </div>
                                                        </section>
                                                        <p></p>
                                                        <p></p>
                                                        <section layout="row">
                                                            <md-icon class="centerAlign contentTop" flex="15" md-svg-src="images/status.svg" aria-label="Cancel dialog"></md-icon>
                                                            <div class="centerAlign" flex layout="column">
                                                                <p id="sectionHead">Status</p>
                                                                <p id="sectionContent">{{ record.status|capitalize}}</p>
                                                            </div>
                                                        </section>
                                                        <p></p>
                                                        <p></p>
                                                        <section layout="row">
                                                            <md-icon class="centerAlign contentTop" flex="15" md-svg-src="images/reason.svg" aria-label="Cancel dialog"></md-icon>
                                                            <div flex layout="column">
                                                                <p id="sectionHead">Reason</p>
                                                                <p class="overflow-content" id="sectionContent">{{ record.description|capitalize }}</p>
                                                            </div>
                                                        </section>
                                                    </md-card-content>
                                                </md-card>
                                            </div>
                                        </div>
                                    </md-card-content>
                                </md-card>
                            </md-card-content>


                            <!--  Leave Update Section -->

                            <md-divider></md-divider>
                            <div ng-if="updateAction && workflow[0].actionTaken=='Sendback'">
                                <update name="record"></update>
                            </div>


                    </md-card>
                    </div>
                </div>
            </div>
    </md-list>

</md-content>
