<md-card class="my-team-card">
	<div>
		<h4 class="tool-header monthTitle">My Team</h4>
	</div>
	<center ng-show='progress'>
		<md-progress-circular md-mode='{{progress_mode}}' md-diameter="70"></md-progress-circular>
	</center>
	<md-content class="my-team-card-content" ng-repeat="team in teams">
		<!-- collasable view -->

		<md-card class="collapsed-row outline-none team-name-card" ng-click="memberSpace($event,team.id)" ng-hide="$index == selectedUserIndex">
			<md-content class="team-name-content">
				<div layout="row">

					<div class="avatar-div" style="width:50px;"><img ng-src="images/alphabets/{{team.firstName.charAt(0)|uppercase}}.png" class="avatar"></div>
					<div class=" overflow-content outline-none" layout="row" layout-align="start center" flex="100">

						<div class="overflow-content outline-none" style="padding-top:5px;" layout="row" ng-click="" flex="">
							<div class="overflow-content" style="width:150px">{{ team.firstName|capitalize}} {{ team.lastName|capitalize}}</div>
							<div class="overflow-content" style="width:80%">
								<p class="overflow-content" style="margin-left:10px;">{{ team.empId }}&nbsp - &nbsp{{ team.designation | capitalize }}&nbsp - &nbsp {{team.phoneNo}}&nbsp&nbsp-&nbsp &nbsp{{team.email}}</p>
								<div class="overflow-content" layout="row" layout-xs="column">
									<div style="margin-left:10px;" class="chip-card" layout="row">
										<div style="background-color:{{colors.totalLeaves}}" class="team-chip-number">{{team.leaveStatistics.totalLeaves}}</div>
										<div class="chip-content overflow-content">Total</div>
									</div>
									<div style="margin-left:10px;height:10px;"></div>
									<div style="margin-left:10px;" class="chip-card" layout="row">
										<div style="background-color:{{colors.remaining}}" class="team-chip-number">{{team.leaveStatistics.remaining}}</div>
										<div class="chip-content overflow-content">Available</div>
									</div>
									<div style="margin-left:10px;height:10px;"></div>
									<div style="margin-left:10px;" class="chip-card" layout="row">
										<div style="background-color:{{colors.privilege}}" class="team-chip-number">{{team.leaveStatistics.privilege}}</div>
										<div class="chip-content overflow-content">Privilege</div>
									</div>

								</div>
							</div>

							<span flex=""></span>
						</div>
					</div>
				</div>
			</md-content>
		</md-card>

		<!-- collasable view end-->


		<!-- expandable view -->

		<!-- <md-card class="collapsed-row outline-none team-name-card-detail"  ng-click="selectUserIndex($index)" ng-show="$index == selectedUserIndex">
				<md-content class="team-name-content-detail">
                    <div><h4 class="margin-two">About {{team.name | capitalize}}</h4>
                    <md-divider></md-divider></div>
					<md-card style="box-shadow:none; margin:2% !important;">
                                <md-card-content style="padding:0%;">
                                    <div layout="row" layout-sm="column" layout-xs="column">

                                        <div id="approvalDetailDiv">
                                            <md-card>
                                                <md-card-content id="employeeDetail">
                                                    <section ng-click="memberSpace($event,team.id)" class="autoMargin outline-none" layout="row">
                                                        <md-button class="autoMargin md-fab md-primary" aria-label="Profile"><p style="font-size:xx-large !important">{{team.name.charAt(0)|uppercase}}</p></md-button>
                                                        <div style="margin-left:3%" flex layout="column">
                                                            <p style="margin:0%; font-size:large">{{team.name | capitalize}}</p>
                                                            <p style="margin:0%">{{team.designation}}</p>
                                                            <p style="margin:0%">{{team.empId}}</p>
                                                        </div>
                                                    </section>


                                                </md-card-content>
                                            </md-card>

                                            <md-card style="margin-top:6px !important;">
                                                <md-card-content id="leaveDetail">
                                                    <p></p>
                                                    <p></p>
                                                    <p></p>
                                                    <section layout="row">
                                                        <md-icon class="centerAlign contentTop" flex="15" md-svg-src="images/email.svg" aria-label="Cancel dialog" ></md-icon>
                                                        <div flex layout="column">

                                                            <p id="sectionHead">{{team.email}}</p>

                                                        </div>
                                                    </section>
                                                    <p></p>
                                                    <p></p>
                                                    <p></p>
                                                    <section layout="row">
                                                        <md-icon class="centerAlign contentTop" flex="15" md-svg-src="images/phone.svg" aria-label="Cancel dialog"></md-icon>
                                                        <div flex layout="column">
                                                            <p id="sectionHead">1234567890</p>

                                                        </div>
                                                    </section>
                                                    <p></p>
                                                    <p></p>

                                                </md-card-content>
                                            </md-card>

                                        </div>
                                        <div flex>
                                            <leave-summary name="leave"></leave-summary>
                                        </div>
                                    </div>
                                </md-card-content>
                    </md-card>

				</md-content>
			</md-card> -->
		<!-- expandable view end -->

	</md-content>
</md-card>
