<div style="margin-bottom:-1%">
    <h4 ng-hide="visibleScreen == 'MyTeam'" class="myLeaveTitle-member">Leave Summary</h4></div>
<md-card ng-class="{leaveSummaryView:visibleScreen =='MyTeam'}" id="leaveSummaryCard" style="margin:2%">
    <!--  <md-card-title>
  <h4 style="margin-left:19px;">My Leave</h4>
  </md-card-title>
  <md-divider></md-divider> -->
    <md-card-content id="leaveSummaryContent">
        <div ng-disabled=true layout="column" layout-sm="column" layout-xs="column" layout-margin>
            <div id="remainingLeaveDetail" layout="row" layout-sm="row" layout-lg="row" layout-xs="column" layout-margin layout-wrap>
                <div id="leaveSummaryCard" flex flex-sm="auto" flex-md="auto" flex-gt-xs="auto">
                    <md-card show-sm show-xs style="height:75px;" flex flex-gt-md>
                        <section layout="row" layout-wrap>
                            <md-button class="md-fab" style="background-color:{{colors.totalLeaves}}; cursor:auto;" aria-label="totalLeaves">
                                <md-icon md-svg-src="images/totalLeaves.svg"></md-icon>
                            </md-button>

                            <section id="leaveTypeTitle">
                                <h5 id="leaveValue" show-sm>Total</h5>
                                <!-- <h5 id="leaveValue" show-xs show-gt-xs hide-sm hide-gt-sm hide-md hide-gt-md hide-lg hide-gt-lg hide-xl>-</h5> -->
                                <h5 id="leaveValue" style="color:{{colors.totalLeaves}};;text-align:center; font-size:20px !important;">{{leave.totalLeaves}}</h5>
                            </section>
                        </section>
                    </md-card>
                </div>
                <!-- <div ng-if="leave.toBeTaken"></div> -->

                <!-- <div ng-if="leave.totalApproved"></div> -->

                <!-- <div ng-if="leave.pending"></div> -->

                <!-- <div ng-if="leave.remaining"></div> -->
                <div id="leaveSummaryCard" flex flex-sm="auto" flex-md="auto" flex-gt-xs="auto">
                    <md-card show-sm show-xs style="height:75px;" flex flex-gt-md>
                        <section layout="row" layout-wrap>
                            <md-button class="md-fab" style="background-color:{{colors.remaining}}; cursor:auto;" aria-label="remaining">
                                <md-icon md-svg-src="images/remaining.svg"></md-icon>
                            </md-button>

                            <section id="leaveTypeTitle">
                                <h5 id="leaveValue" show-sm>Available</h5>
                                <h5 id="leaveValue" style="color:{{colors.remaining}};;text-align:center; font-size:20px !important;">{{leave.remaining}}</h5>
                            </section>
                        </section>
                    </md-card>
                </div>
            </div>
            <div style="margin-top:0px !important" layout="row" layout-gt-md="row" layout-lg="row" layout-xs="column" layout-margin layout-wrap>
                <div id="leaveSummaryCard" ng-if="leave.privilege" flex flex-sm="auto" flex-md="auto" flex-gt-xs="auto">
                    <md-card show-sm show-xs ng-if="leave.privilege" style="height:75px;" flex flex-gt-md>
                        <section id="leaveSummaryCard" layout="row" layout-wrap>
                            <md-button class="md-fab" style="background-color:{{colors.privilege}}; cursor:auto;" aria-label="privilege">
                                <md-icon md-svg-src="images/Privilege.svg"></md-icon>
                            </md-button>

                            <section id="leaveTypeTitle">
                                <h5 id="leaveValue" show-sm>Privilege</h5>
                                <h5 id="leaveValue" style="color:{{colors.privilege}};;text-align:center; font-size:20px !important;">{{leave.privilege}}</h5>
                            </section>
                        </section>
                    </md-card>
                </div>
                <!-- <div ng-if="leave.LOP"></div> -->

                <!-- <div ng-if="leave.paternity"></div> -->

                <!-- <div ng-if="leave.maternity"></div> -->

                <!-- <div ng-if="leave.COMPOFF"></div> -->

            </div>
        </div>

    </md-card-content>

</md-card>
