.leave-summary-main-div{
  margin:0px 7px;
}
.leave-summary-md-card{
  margin:14px 7px!important;
  // background: #f2f2f2;
}
.md-card-summary-header{
  max-height:52px;
}
.align-center{
  align-items: center;
}
.header-fab-button{
  margin-right:0px !important;
}
.header-total{
  margin-left:15px;
}
.md-content-summary{
  padding:15px !important;
}
.min-width-90{
  min-width:80%;
}
