<div class="leave-summary-main-div" layout="row" layout-sm="row" layout-xs="column" flex="100" layout-wrap>
    <md-card class="leave-summary-md-card" ng-repeat="leave in leaveSummary" ng-if="leave.total!==0 || (leave.title ==='Eligibility' || leave.title ==='Remaining')" flex="auto">
        <div class="md-card-summary-header" show-sm show-xs flex flex-gt-md>
            <section class="align-center" layout="row" layout-wrap>
                <md-button class="md-fab md-mini header-fab-button" hide-sm id={{leave.title}} aria-label="Eligibility">
                    <md-icon md-svg-src="images/leave/{{leave.title}}.svg"></md-icon>
                </md-button>

                <section class="autoMargin" layout="row">
                    <h4 show-sm>{{leave.title}}</h4>
                    <h4 class="header-total" show-sm>{{leave.total}}</h4>
                </section>
            </section>
        </div>
        <md-divider></md-divider>
        <md-card-content class="md-content-summary">
            <div ng-repeat="data in leave.data" layout="row">
                <h5 ng-if="data.count>0 || (data.type ==='Privilege'&&(leave.title ==='Eligibility' || leave.title ==='Remaining'))">{{data.type}}</h5>
                <p ng-if="data.count>0 || (data.type ==='Privilege'&&(leave.title ==='Eligibility' || leave.title ==='Remaining'))" flex></p>
                <h5 ng-if="data.count>0 || (data.type ==='Privilege'&&(leave.title ==='Eligibility' || leave.title ==='Remaining'))">{{data.count}}</h5>
            </div>
        </md-card-content>
    </md-card>
</div>
