<!-- Not in use -->

<div class="applyfield">
    <md-toolbar>
        <h4>New Request</h2>
    <div style="background-color:blue;" class="md-toolbar-tools">
      <h2></h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-src="images/close.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-divider class="divideBorder"></md-divider>
  <div>
    <form id="applyForm" name="applyForm" ng-submit="leaveApply(applyForm.$valid)" novalidate="" enctype="multipart/form-data">

      <div id="datePickDiv" layout-gt-xs="row" layout-margin layout-wrap>

        <md-datepicker name="fromDate" ng-model="user.fromDate" md-placeholder="Leave From" required="">
        <div class="validation-messages" ng-messages="myForm.dateField.$error">
            <div ng-message="required">This date is required!</div>
        </div>
        </md-datepicker>

        <md-input-container  id="day_input" class="md-block" flex-gt-xs="">
          <label>No of Days</label>
          <input ng-change="to_datePicker()" required type="number" step="any" name="days" min="0"
             max="21"  ng-model="user.numberOfDays"/>
          <div ng-messages="applyForm.days.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <md-datepicker ng-change="dayPicker()" name="toDate" ng-model="user.toDate" md-placeholder="Leave To" required="">
        <div ng-messages="applyForm.toDate.$error">
            <div ng-message="required">This is required.</div>
        </div>
        </md-datepicker>

      </div>

      <div class="comments-div" layout-gt-sm="row" layout-margin layout-wrap style="margin-top:-5%;">
        <md-input-container id="comments" class="md-block">
          <label>Reason</label>
          <input md-maxlength="100" required ng-pattern="/^(\D)+$/" md-no-asterisk name="description" ng-model="user.description"/>
          <div ng-messages="applyForm.description.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The description has to be less than 100 characters long.</div>
          </div>
        </md-input-container>
        <div id="leave-type" layout-gt-sm="column" layout-margin layout-wrap >
          <md-radio-group ng-model="user.type" required="">
            <md-radio-button value="Privilege" class="md-primary">Privilege</md-radio-button>
            <md-radio-button value="LOP">Loss of Pay</md-radio-button>
          </md-radio-group>
        </div>
      </div>


      <div class="submitCancelBtn" layout-gt-sm="row" layout-margin layout-wrap style="margin-top:-5%;">
        <md-button type="submit"  id="applyBtn" class="md-fab md-mini" aria-label="Mini FAB">
          <md-icon md-svg-src="images/done.svg"></md-icon>
        </md-button>
        <md-button ng-click="closeDialog()" id="cancelBtn" class="md-fab md-mini" aria-label="Mini FAB">
          <md-icon md-svg-src="images/close.svg"></md-icon>
        </md-button>
      </div>

    </form>
  </div>
  </div>
