<div ng-if="screen ==='MySpace'" ng-controller="ApplyCtrl as demo">
    <md-fab-speed-dial ng-hide="demo.hidden" md-direction="up" md-open="demo.isOpen" class="md-scale md-fab-bottom-right md-hover-full" ng-mouseenter="demo.isOpen=true" ng-mouseleave="demo.isOpen=false">
        <md-fab-trigger>
            <md-button ng-click="showAdvanced('notSelected')" aria-label="menu" class=" md-fab md-warn">
                <md-tooltip id="toolDir" md-direction="left">Apply</md-tooltip>
                <ng-md-icon icon="add" resting-icon="add" aria-label="Apply"></ng-md-icon>
            </md-button>
        </md-fab-trigger>

        <md-fab-actions>
            <div ng-repeat="item in demo.items">
                <md-button ng-disabled="item.name==='Plan'" style="background-color:{{item.color}}" aria-label="{{item.name}}" class="md-fab md-raised md-mini" ng-click="showAdvanced(item.name)">
                    <md-tooltip md-direction="{{item.direction}}" md-autohide="false">
                        {{item.name}}
                    </md-tooltip>

                    <md-icon md-svg-src='{{item.icon}}' aria-label="{{item.name}}"></md-icon>
                </md-button>
            </div>
        </md-fab-actions>
    </md-fab-speed-dial>

</div>
