<div style="margin-bottom:2%">
    <md-card ng-class="{leaveSummaryView:visibleScreen =='MyTeam'}" id="leaveSummaryCard" style="margin:2%">

        <md-card-content id="leaveSummaryContent">
            <div ng-disabled=true layout="column" layout-sm="column" layout-xs="column" layout-margin>
                <div id="remainingLeaveDetail" layout="row" layout-sm="row" layout-lg="row" layout-xs="column" layout-margin layout-wrap>
                    <div id="leaveSummaryCard" flex flex-sm="auto" flex-md="auto" flex-gt-xs="auto">
                        <md-card show-sm show-xs style="height:75px;" flex flex-gt-md>
                            <section layout="row" layout-wrap>
                                <md-button class="md-fab" style="background-color:{{colors.totalLeaves}}; cursor:auto;" aria-label="totalLeaves">
                                    <md-icon md-svg-src="images/totalLeaves.svg"></md-icon>
                                </md-button>

                                <section id="leaveTypeTitle">
                                    <h5 id="leaveValue" show-sm>Total</h5>
                                    <!-- <h5 id="leaveValue" show-xs show-gt-xs hide-sm hide-gt-sm hide-md hide-gt-md hide-lg hide-gt-lg hide-xl>-</h5> -->
                                    <h5 id="leaveValue" style="color:{{colors.totalLeaves}};;text-align:center; font-size:20px !important;">{{leave.totalLeaves}}</h5>
                                </section>
                            </section>
                        </md-card>
                    </div>
                    <!-- <div ng-if="leave.toBeTaken"></div> -->
                    <div id="leaveSummaryCard" ng-if="leave.availed" flex flex-sm="auto" flex-md="auto" flex-gt-xs="auto">
                        <md-card show-sm show-xs ng-if="leave.availed" style="height:75px;" flex flex-gt-md>
                            <section layout="row" layout-wrap>
                                <md-button class="md-fab" style="background-color:{{colors.toBeTaken}}; cursor:auto;" aria-label="toBeTaken">
                                    <md-icon md-svg-src="images/done_all_white.svg"></md-icon>
                                </md-button>

                                <section id="leaveTypeTitle">
                                    <h5 id="leaveValue" show-sm>Availed</h5>
                                    <h5 id="leaveValue" style="color:{{colors.toBeTaken}};;text-align:center; font-size:20px !important;">{{leave.availed}}</h5>
                                </section>
                            </section>
                        </md-card>
                    </div>
                    <!-- <div ng-if="leave.totalApproved"></div> -->
                    <div id="leaveSummaryCard" ng-if="leave.toBeTaken" flex flex-sm="auto" flex-md="auto" flex-gt-xs="auto">
                        <md-card show-sm show-xs ng-if="leave.toBeTaken" style="height:75px;" flex flex-gt-md>
                            <section layout="row" layout-wrap>
                                <md-button class="md-fab" style="background-color:{{colors.totalApproved}}; cursor:auto;" aria-label="totalApproved">
                                    <md-icon md-svg-src="images/done.svg"></md-icon>
                                </md-button>

                                <section id="leaveTypeTitle">
                                    <h5 id="leaveValue" show-sm>Approved</h5>
                                    <h5 id="leaveValue" style="color:{{colors.totalApproved}};;text-align:center; font-size:20px !important;">{{leave.toBeTaken}}</h5>
                                </section>
                            </section>
                        </md-card>
                    </div>
                    <!-- <div ng-if="leave.pending"></div> -->
                    <div id="leaveSummaryCard" ng-if="leave.pending" flex flex-sm="auto" flex-md="auto" flex-gt-xs="auto">
                        <md-card show-sm show-xs ng-if="leave.pending" style="height:75px;" flex flex-gt-md>
                            <section layout="row" layout-wrap>
                                <md-button class="md-fab" style="background-color:{{colors.pending}}; cursor:auto;" aria-label="pending">
                                    <md-icon md-svg-src="images/pending.svg"></md-icon>
                                </md-button>

                                <section id="leaveTypeTitle">
                                    <h5 id="leaveValue" show-sm>Pending</h5>
                                    <h5 id="leaveValue" style="color:{{colors.pending}};text-align:center; font-size:20px !important;">{{leave.pending}}</h5>
                                </section>
                            </section>
                        </md-card>
                    </div>
                    <!-- <div ng-if="leave.remaining"></div> -->
                    <div id="leaveSummaryCard" flex flex-sm="auto" flex-md="auto" flex-gt-xs="auto">
                        <md-card show-sm show-xs style="height:75px;" flex flex-gt-md>
                            <section layout="row" layout-wrap>
                                <md-button class="md-fab" style="background-color:{{colors.remaining}}; cursor:auto;" aria-label="remaining">
                                    <md-icon md-svg-src="images/remaining.svg"></md-icon>
                                </md-button>

                                <section id="leaveTypeTitle">
                                    <h5 id="leaveValue" show-sm>Available</h5>
                                    <h5 id="leaveValue" style="color:{{colors.remaining}};;text-align:center; font-size:20px !important;">{{leave.remaining}}</h5>
                                </section>
                            </section>
                        </md-card>
                    </div>
                </div>
                <div style="margin-top:0px !important" layout="row" layout-gt-md="row" layout-lg="row" layout-xs="column" layout-margin layout-wrap>
                    <div id="leaveSummaryCard" ng-if="leave.privilege" flex flex-sm="auto" flex-md="auto" flex-gt-xs="auto">
                        <md-card show-sm show-xs ng-if="leave.privilege" style="height:75px;" flex flex-gt-md>
                            <section id="leaveSummaryCard" layout="row" layout-wrap>
                                <md-button class="md-fab" style="background-color:{{colors.privilege}}; cursor:auto;" aria-label="privilege">
                                    <md-icon md-svg-src="images/Privilege.svg"></md-icon>
                                </md-button>

                                <section id="leaveTypeTitle">
                                    <h5 id="leaveValue" show-sm>Privilege</h5>
                                    <h5 id="leaveValue" style="color:{{colors.privilege}};;text-align:center; font-size:20px !important;">{{leave.privilege}}</h5>
                                </section>
                            </section>
                        </md-card>
                    </div>
                    <!-- <div ng-if="leave.LOP"></div> -->
                    <div id="leaveSummaryCard" ng-if="leave.LOP" flex flex-sm="auto" flex-md="auto" flex-gt-xs="auto">
                        <md-card show-sm show-xs ng-if="leave.LOP" style="height:75px;" flex flex-gt-md>
                            <section layout="row" layout-wrap>
                                <md-button class="md-fab" style="background-color:{{colors.LOP}}; cursor:auto;" aria-label="LOP">
                                    <md-icon md-svg-src="images/LOP.svg"></md-icon>
                                </md-button>

                                <section id="leaveTypeTitle">
                                    <h5 id="leaveValue" show-sm>Loss of Pay</h5>
                                    <h5 id="leaveValue" style="color:{{colors.LOP}};;text-align:center; font-size:20px !important;">{{leave.LOP}}</h5>
                                </section>
                            </section>
                        </md-card>
                    </div>
                    <!-- <div ng-if="leave.paternity"></div> -->
                    <div id="leaveSummaryCard" ng-if="leave.paternity" flex flex-sm="auto" flex-md="auto" flex-gt-xs="auto">
                        <md-card show-sm show-xs ng-if="leave.paternity" style="height:75px;" flex flex-gt-md>
                            <section layout="row" layout-wrap>
                                <md-button class="md-fab" style="background-color:{{colors.paternity}}; cursor:auto;" aria-label="paternity">
                                    <md-icon md-svg-src="images/Paternity.svg"></md-icon>
                                </md-button>

                                <section id="leaveTypeTitle">
                                    <h5 id="leaveValue" show-sm>Paternity</h5>
                                    <h5 id="leaveValue" style="color:{{colors.paternity}};text-align:center; font-size:20px !important;">{{leave.paternity}}</h5>
                                </section>
                            </section>
                        </md-card>
                    </div>
                    <!-- <div ng-if="leave.maternity"></div> -->
                    <div id="leaveSummaryCard" ng-if="leave.maternity" flex flex-sm="auto" flex-md="auto" flex-gt-xs="auto">
                        <md-card show-sm show-xs ng-if="leave.maternity" style="height:75px;" flex flex-gt-md>
                            <section layout="row" layout-wrap>
                                <md-button class="md-fab" style="background-color:{{colors.maternity}}; cursor:auto;" aria-label="maternity">
                                    <md-icon md-svg-src="images/Maternity.svg"></md-icon>
                                </md-button>

                                <section id="leaveTypeTitle">
                                    <h5 id="leaveValue" show-sm>Maternity</h5>
                                    <h5 id="leaveValue" style="color:{{colors.maternity}};text-align:center; font-size:20px !important;">{{leave.maternity}}</h5>
                                </section>
                            </section>
                        </md-card>
                    </div>
                    <!-- <div ng-if="leave.COMPOFF"></div> -->
                    <div id="leaveSummaryCard" ng-if="leave.compOff" flex flex-sm="auto" flex-md="auto" flex-gt-xs="auto">
                        <md-card show-sm show-xs ng-if="leave.compOff" style="height:75px;" flex flex-gt-md>
                            <section layout="row" layout-wrap>
                                <md-button class="md-fab" style="background-color:{{colors.COMPOFF}}; cursor:auto;" aria-label="combo">
                                    <md-icon md-svg-src="images/compoff.svg"></md-icon>
                                </md-button>
                                <section id="leaveTypeTitle">
                                    <h5 id="leaveValue" show-sm>Comp-off</h5>
                                    <h5 id="leaveValue" style="color:{{colors.COMPOFF}};text-align:center; font-size:20px !important;">{{leave.compOff}}</h5>
                                </section>
                            </section>
                        </md-card>
                    </div>
                </div>
            </div>

        </md-card-content>

    </md-card>
