<div ng-controller="LeaveStatisticCtrl" ng-include="'employee/views/leave_statistic.html'"></div>
<md-content id="main" layout="horizontal" layout-align="center">
    <md-list flex>
        <div id="content">

            <div ng-repeat="h in history">
                <h4 class="historyTitle">{{h.title}}</h4>
                <div ng-repeat="record in h.data">
                    <md-card class="leave-history-item" id="headerWrapper" style="box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.02), 0px 1px 1px 0px rgba(0, 0, 0, 0), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);!important" ng-hide="$index == selectedUserIndex && title == h.title"
                        ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                        <md-item layout="row">
                            <div class="outline-none" style="margin:0px auto auto 20px;" ng-click="leaveDetails($event,$index, h.title, record.leaveRequestId)">
                                <md-button id="{{h.title}}" class="md-fab md-mini">{{record.numberOfdays}}</md-button>
                            </div>
                            <div flex="5"></div>
                            <div class="collapsed-row overflow-content outline-none" layout="row" layout-align="start center" flex="">

                                <div class="overflow-content outline-none margin-ten-tb" ng-click="leaveDetails($event, $index, h.title, record.leaveRequestId)" flex>

                                    <span>{{ record.fromDate | date:'MMM dd , yyyy' }}&nbsp - &nbsp{{ record.toDate | date:'MMM dd , yyyy' }}</span>
                                    <span> &nbsp&nbsp&nbsp-&nbsp&nbsp&nbsp {{ record.typeOfLeave |capitalize }}</span>
                                    <span>&nbsp&nbsp&nbsp-&nbsp&nbsp&nbsp{{ record.description |capitalize}}</span>
                                    <span flex=""></span>
                                    <div ng-if="record.status==='Cancellation In Progress'" style="margin:10px 0px 0px 0px;" class="chip-card" layout="row">
                                        <div class="chip-content overflow-content">Cancellation Request</div>
                                    </div>
                                </div>
                                <!-- menubar -->
                                <md-menu-bar class="more-button" hide-xs hide-sm ng-class="{'margin-top-40px':  record.status=='Cancellation In Progress' }">
                                    <md-menu md-offset="0 65" md-position-mode="target-right target">
                                        <md-button class="md-icon-button more-btn" ng-click="$mdOpenMenu($event);" $event.stopPropagation();>
                                            <md-icon md-svg-src="images/more_vert.svg" aria-label="Edit dialog"></md-icon>
                                        </md-button>
                                        <md-menu-content width=2>
                                            <md-menu-item class="md-indent">
                                                <md-title class="menu-bar-title">Leave actions...</md-title>
                                            </md-menu-item>
                                            <md-menu-divider></md-menu-divider>
                                            <md-menu-item class="md-indent">
                                                <md-icon class="actionIcon" md-svg-src="images/trash.svg" aria-label="Edit dialog"></md-icon>
                                                <md-button ng-click="showPrompt($event,record)">Trash</md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </md-menu-bar>
                            </div>
                        </md-item>
                    </md-card>

                    <!-- detailed view -->

                    <md-card id="contentWrapper" ng-show="$index == selectedUserIndex && title == h.title" ng-mouseover="hover = true" ng-mouseout="hover = false">
                        <div layout="column" flex>
                            <div layout="row" flex $event.stopPropagation()>
                                <div class="outline-none" flex="95" ng-click="selectUserIndex($index, h.title)">
                                    <h4 ng-if="record.numberOfdays<=1" style="margin:19px;">Leave applied for {{record.numberOfdays}} day</h4>
                                    <h4 ng-if="record.numberOfdays>1" style="margin:19px;">Leave applied for {{record.numberOfdays}} days</h4>
                                </div>
                                <!-- menubar -->

                                <span style="margin:auto">
                                <md-menu-bar>
                                    <md-menu md-offset="0 65" md-position-mode="target-right target">
                                        <md-button class="md-icon-button" ng-click="$mdOpenMenu()" $event.stopPropagation();>
                                            <md-icon class="actionIcon" md-svg-src="images/more_vert.svg" aria-label="more"></md-icon>
                                        </md-button>
                                        <md-menu-content width=2>
                                            <md-menu-item class="md-indent">
                                                <md-title class="menu-bar-title">Leave actions...</md-title>
                                            </md-menu-item>
                                            <md-menu-divider></md-menu-divider>
                                            <md-menu-item class="md-indent" ng-if="workflow[0].actionTaken=='Sendback'">
                                                <md-icon class="actionIcon" md-svg-src="images/edit.svg" aria-label="update"></md-icon>
                                                <md-button ng-click="updateLeave(record, $event);">Update</md-button>
                                            </md-menu-item>
                                            <md-menu-item class="md-indent">
                                                <md-icon class="actionIcon" md-svg-src="images/trash.svg" aria-label="cancel"></md-icon>
                                                <md-button ng-click="showPrompt($event,record)">Trash</md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </md-menu-bar>
                            </span>
                            </div>
                            <md-divider></md-divider>
                            <md-card-content>

                                <md-card>
                                    <md-card-content style="padding:0%;">
                                        <div layout="row" layout-xs="column" layout-sm="column">
                                            <!-- workflow -->
                                            <div class="workflowDiv">
                                                <md-toolbar>
                                                    <div class="md-toolbar-tools">
                                                        <span><b>Approval Stage</b></span>
                                                        <span flex></span>

                                                    </div>
                                                </md-toolbar>
                                                <md-content flex style="height:auto; max-height:200px">
                                                    <div ng-include="'main/views/timeline_workflow.html'"></div>
                                                </md-content>
                                            </div>
                                            <!-- leave details -->
                                            <div id="detailLeave">
                                                <md-card>
                                                    <md-card-content id="leaveHistoryView">
                                                        <detail options="{'imageUrl':'images/when.svg','sectionHead':'When'}" datefilter="date" content="record"></detail>
                                                        <p></p>
                                                        <p></p>
                                                        <detail options="{'imageUrl':'images/Type.svg','sectionHead':'Leave Type'}" datefilter="capitalize" content="record.typeOfLeave"></detail>
                                                        <p></p>
                                                        <p></p>
                                                        <detail options="{'imageUrl':'images/status.svg','sectionHead':'Status'}" datefilter="capitalize" content="record.status"></detail>
                                                        <p></p>
                                                        <p></p>
                                                        <detail options="{'imageUrl':'images/reason.svg','sectionHead':'Reason'}" datefilter="capitalize" content="record.description"></detail>
                                                    </md-card-content>
                                                </md-card>
                                            </div>
                                        </div>
                                    </md-card-content>
                                </md-card>
                            </md-card-content>


                            <!--  Leave Update Section -->

                            <md-divider></md-divider>
                            <div ng-if="updateAction && workflow[0].actionTaken=='Sendback'">
                                <update name="record"></update>
                            </div>


                    </md-card>
                    </div>
                </div>
            </div>
    </md-list>
</md-content>
