<!-- Not in use -->
<md-dialog id="newRequestDialogBox" flex-gt-sm="90" show-gt-sm aria-label="New Request" style="position: fixed; bottom: -0.5%;right: 8%;width:35%;">
    <form id="newRequestForm" name="applyForm" ng-submit="leaveUpdate(applyForm.$valid, user.leaveRequestId)" novalidate="" enctype="multipart/form-data">
        <md-toolbar>
            <div show-gt-sm id="request_toolbar" class="md-toolbar-tools">
                <p>Update Request</p>
                <span flex></span>
                <md-button show-gt-sm id="closeBtn" class="md-icon-button" ng-click="closeDialog()">
                    <md-icon md-svg-src="images/close.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div layout-gt-xs="row" layout-margin layout-wrap style="margin-top:2%;">
                <md-datepicker show-gt-sm id="fromDate" ng-change="selectToDate()" name="fromDate" ng-model="user.fromDate" md-placeholder="Leave From" required="">
                    <div class="validation-messages" ng-messages="myForm.dateField.$error">
                        <div ng-message="required">This date is required!</div>
                    </div>
                </md-datepicker>
                <md-input-container show-gt-sm ng-disabled="halfDay" id="days" class="md-block" flex-gt-xs="">
                    <label>Number of Days</label>
                    <input ng-disabled="halfDay" ng-change="to_datePicker()" required type="number" step="any" name="days" min="0" max="21" ng-model="user.noOfdays" />
                    <div ng-messages="applyForm.days.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
            </div>
            <md-datepicker show-gt-sm ng-disabled="halfDay" id="toDate" ng-change="dayPicker()" name="toDate" ng-model="user.toDate" md-placeholder="Leave To" md-min-date="user.fromDate"></md-datepicker>
            <div id="halfDayDiv" layout="row">
                <md-checkbox show-gt-sm ng-change="halfDayCalc()" class="md-primary" ng-model="halfDay" aria-label="Half day"></md-checkbox>
                <p>Half Day Leave</p>
                <div ng-show="halfDay">
                    <md-radio-group id="chooseHalf" layout="row" ng-model="user.halfDaySlot">
                        <md-radio-button value="1" class="md-primary">First Half</md-radio-button>
                        <md-radio-button value="2" class="md-primary">Second Half</md-radio-button>
                    </md-radio-group>
                </div>
            </div>
            <md-input-container show-gt-sm id="reason" class="md-block">
                <label>Comments*</label>

                <input maxlength="100" md-maxlength="100" required md-no-asterisk name="comment" ng-model="user.comment" />

                <div ng-messages="applyForm.comment.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="md-maxlength">The comment has to be less than 100 characters long.</div>
                </div>
            </md-input-container>
            <md-input-container ng-disabled="true" show-gt-sm id="reason" class="md-block">
                <label>Reason</label>

                <input ng-disabled="true" maxlength="100" md-maxlength="100" required md-no-asterisk name="description" ng-model="user.description" />

                <div ng-messages="applyForm.description.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="md-maxlength">The description has to be less than 100 characters long.</div>
                </div>
            </md-input-container>

            <md-input-container ng-disabled="true" show-gt-sm layout="row" layout-margin id="leaveTypeRadio">
                <md-radio-group name="leaveType" layout="row" ng-model="user.typeOfLeave" ng-required="true" ng-repeat="item in leaves" class="">
                    <md-radio-button ng-disabled="true" value="{{item.name}}" class="md-primary">{{item.name}}</md-radio-button>
                </md-radio-group>
                <div ng-messages="applyForm.leaveType.$error" ng-if="applyForm.$submitted || applyForm.leaveType.$touched">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>

            <md-input-container ng-disabled="true" show-gt-sm id="approver" class="md-block" flex-gt-sm>
                <label>Approver</label>
                <md-select ng-disabled="true" ng-model="approverId">
                    <md-option ng-click="selectApprover(manager.id)" ng-repeat="manager in managers" value="{{manager.name | uppercase}}">
                        {{manager.name|capitalize}}
                    </md-option>
                </md-select>
                <!-- <p>{{approverId}}</p> -->
            </md-input-container>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button class="md-raised md-primary" type="submit" style="margin-right:20px; margin-bottom:15px;">
                Update
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
