<div style="margin-bottom:-1%; margin-top:40px;">
    <h4 class="myLeaveTitle">My Leave Summary</h4></div>
<md-card id="leaveSummaryCard" style="margin:2% !important">
    <leave-summary-card employeeid="globals.currentUser.empId"></leave-summary-card>

    <!-- <md-card-content id="leaveSummaryContent">
        <div ng-disabled=true layout="column" layout-sm="column" layout-xs="column" layout-margin>
            <div id="remainingLeaveDetail" layout="row" layout-sm="row" layout-lg="row" layout-xs="column" layout-margin layout-wrap>
                <div id="leaveSummaryCard" flex flex-sm="auto" flex-md="auto" flex-gt-xs="auto">
                    <md-card show-sm show-xs style="height:75px;" flex flex-gt-md>
                        <section layout="row" layout-wrap>
                            <md-button class="md-fab" style="background-color:{{colors.totalLeaves}}; cursor:auto;" aria-label="totalLeaves">
                                <md-icon md-svg-src="images/totalLeaves.svg"></md-icon>
                            </md-button>

                            <section id="leaveTypeTitle">
                                <h5 id="leaveValue" show-sm>Total</h5>
                                <h5 id="leaveValue" style="color:{{colors.totalLeaves}};;text-align:center; font-size:20px !important;">{{myLeave.totalLeaves}}</h5>
                            </section>
                        </section>
                    </md-card>
                </div>
                <div id="leaveSummaryCard" ng-if="myLeave.availed" flex flex-sm="auto" flex-md="auto" flex-gt-xs="auto">
                    <md-card show-sm show-xs ng-if="myLeave.availed" style="height:75px;" flex flex-gt-md>
                        <section layout="row" layout-wrap>
                            <md-button class="md-fab" style="background-color:{{colors.toBeTaken}}; cursor:auto;" aria-label="toBeTaken">
                                <md-icon md-svg-src="images/done_all_white.svg"></md-icon>
                            </md-button>

                            <section id="leaveTypeTitle">
                                <h5 id="leaveValue" show-sm>Availed</h5>
                                <h5 id="leaveValue" style="color:{{colors.toBeTaken}};;text-align:center; font-size:20px !important;">{{myLeave.availed}}</h5>
                            </section>
                        </section>
                    </md-card>
                </div>
                <div id="leaveSummaryCard" ng-if="myLeave.toBeTaken" flex flex-sm="auto" flex-md="auto" flex-gt-xs="auto">
                    <md-card show-sm show-xs ng-if="myLeave.toBeTaken" style="height:75px;" flex flex-gt-md>
                        <section layout="row" layout-wrap>
                            <md-button class="md-fab" style="background-color:{{colors.totalApproved}}; cursor:auto;" aria-label="totalApproved">
                                <md-icon md-svg-src="images/done.svg"></md-icon>
                            </md-button>

                            <section id="leaveTypeTitle">
                                <h5 id="leaveValue" show-sm>Approved</h5>
                                <h5 id="leaveValue" style="color:{{colors.totalApproved}};;text-align:center; font-size:20px !important;">{{myLeave.toBeTaken}}</h5>
                            </section>
                        </section>
                    </md-card>
                </div>
                <div id="leaveSummaryCard" ng-if="myLeave.pending" flex flex-sm="auto" flex-md="auto" flex-gt-xs="auto">
                    <md-card show-sm show-xs ng-if="myLeave.pending" style="height:75px;" flex flex-gt-md>
                        <section layout="row" layout-wrap>
                            <md-button class="md-fab" style="background-color:{{colors.pending}}; cursor:auto;" aria-label="pending">
                                <md-icon md-svg-src="images/pending.svg"></md-icon>
                            </md-button>

                            <section id="leaveTypeTitle">
                                <h5 id="leaveValue" show-sm>Pending</h5>
                                <h5 id="leaveValue" style="color:{{colors.pending}};text-align:center; font-size:20px !important;">{{myLeave.pending}}</h5>
                            </section>
                        </section>
                    </md-card>
                </div>
                <div id="leaveSummaryCard" flex flex-sm="auto" flex-md="auto" flex-gt-xs="auto">
                    <md-card show-sm show-xs style="height:75px;" flex flex-gt-md>
                        <section layout="row" layout-wrap>
                            <md-button class="md-fab" style="background-color:{{colors.remaining}}; cursor:auto;" aria-label="remaining">
                                <md-icon md-svg-src="images/remaining.svg"></md-icon>
                            </md-button>

                            <section id="leaveTypeTitle">
                                <h5 id="leaveValue" show-sm>Available</h5>
                                <h5 id="leaveValue" style="color:{{colors.remaining}};;text-align:center; font-size:20px !important;">{{myLeave.remaining}}</h5>
                            </section>
                        </section>
                    </md-card>
                </div>
            </div>
            <div style="margin-top:0px !important" layout="row" layout-gt-md="row" layout-lg="row" layout-xs="column" layout-margin layout-wrap>
                <div id="leaveSummaryCard" ng-if="myLeave.privilege" flex flex-sm="auto" flex-md="auto" flex-gt-xs="auto">
                    <md-card show-sm show-xs ng-if="myLeave.privilege" style="height:75px;" flex flex-gt-md>
                        <section id="leaveSummaryCard" layout="row" layout-wrap>
                            <md-button class="md-fab" style="background-color:{{colors.privilege}}; cursor:auto;" aria-label="privilege">
                                <md-icon md-svg-src="images/Privilege.svg"></md-icon>
                            </md-button>

                            <section id="leaveTypeTitle">
                                <h5 id="leaveValue" show-sm>Privilege</h5>
                                <h5 id="leaveValue" style="color:{{colors.privilege}};;text-align:center; font-size:20px !important;">{{myLeave.privilege}}</h5>
                            </section>
                        </section>
                    </md-card>
                </div>
                <div id="leaveSummaryCard" ng-if="myLeave.LOP" flex flex-sm="auto" flex-md="auto" flex-gt-xs="auto">
                    <md-card show-sm show-xs ng-if="myLeave.LOP" style="height:75px;" flex flex-gt-md>
                        <section layout="row" layout-wrap>
                            <md-button class="md-fab" style="background-color:{{colors.LOP}}; cursor:auto;" aria-label="LOP">
                                <md-icon md-svg-src="images/LOP.svg"></md-icon>
                            </md-button>

                            <section id="leaveTypeTitle">
                                <h5 id="leaveValue" show-sm>Loss of Pay</h5>
                                <h5 id="leaveValue" style="color:{{colors.LOP}};;text-align:center; font-size:20px !important;">{{myLeave.LOP}}</h5>
                            </section>
                        </section>
                    </md-card>
                </div>
                <div id="leaveSummaryCard" ng-if="myLeave.paternity" flex flex-sm="auto" flex-md="auto" flex-gt-xs="auto">
                    <md-card show-sm show-xs ng-if="myLeave.paternity" style="height:75px;" flex flex-gt-md>
                        <section layout="row" layout-wrap>
                            <md-button class="md-fab" style="background-color:{{colors.paternity}}; cursor:auto;" aria-label="paternity">
                                <md-icon md-svg-src="images/Paternity.svg"></md-icon>
                            </md-button>

                            <section id="leaveTypeTitle">
                                <h5 id="leaveValue" show-sm>Paternity</h5>
                                <h5 id="leaveValue" style="color:{{colors.paternity}};text-align:center; font-size:20px !important;">{{myLeave.paternity}}</h5>
                            </section>
                        </section>
                    </md-card>
                </div>
                <div id="leaveSummaryCard" ng-if="myLeave.maternity" flex flex-sm="auto" flex-md="auto" flex-gt-xs="auto">
                    <md-card show-sm show-xs ng-if="myLeave.maternity" style="height:75px;" flex flex-gt-md>
                        <section layout="row" layout-wrap>
                            <md-button class="md-fab" style="background-color:{{colors.maternity}}; cursor:auto;" aria-label="maternity">
                                <md-icon md-svg-src="images/Maternity.svg"></md-icon>
                            </md-button>

                            <section id="leaveTypeTitle">
                                <h5 id="leaveValue" show-sm>Maternity</h5>
                                <h5 id="leaveValue" style="color:{{colors.maternity}};text-align:center; font-size:20px !important;">{{myLeave.maternity}}</h5>
                            </section>
                        </section>
                    </md-card>
                </div>
                <div id="leaveSummaryCard" ng-if="myLeave.compOff" flex flex-sm="auto" flex-md="auto" flex-gt-xs="auto">
                    <md-card show-sm show-xs ng-if="myLeave.compOff" style="height:75px;" flex flex-gt-md>
                        <section layout="row" layout-wrap>
                            <md-button class="md-fab" style="background-color:{{colors.COMPOFF}}; cursor:auto;" aria-label="combo">
                                <md-icon md-svg-src="images/compoff.svg"></md-icon>
                            </md-button>
                            <section id="leaveTypeTitle">
                                <h5 id="leaveValue" show-sm>Comp-off</h5>
                                <h5 id="leaveValue" style="color:{{colors.COMPOFF}};text-align:center; font-size:20px !important;">{{myLeave.compOff}}</h5>
                            </section>
                        </section>
                    </md-card>
                </div>
            </div>
        </div>

    </md-card-content> -->

</md-card>
