<md-dialog show-sm show-gt-sm show-md show-gt-md show-lg show-gt-lg show-xl hide-xs hide-gt-xs id="newRequestDialogBox" ng-class="{minmizeDialog:minimize}" show-gt-sm aria-label="New Request" style="position: fixed; bottom: -0.5%;right: 7%;width:100%; max-width:550px; overflow:hidden;height:auto !important">
    <form id="newRequestForm" name="applyForm" ng-submit="leaveApply(applyForm.$valid)" novalidate="" enctype="multipart/form-data">
        <md-toolbar style="min-height:50px !important;">
            <div show-gt-sm id="request_toolbar" class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <p id="applyFormTitle">New Request</p>
                <span layout="row" flex></span>
                <a href=""><i class="outline-none" ng-click="minimize=!minimize"><md-icon class="icon-color-grey margin-right-10px" md-svg-src="images/remove_24px.svg" aria-label="minimize dialog"></md-icon></i></a>
                <a href=""><i class="outline-none" ng-click="closeDialog()"><md-icon class="icon-color-grey margin-right-5px" md-svg-src="images/close_18px.svg" aria-label="Close dialog"></md-icon></i></a>
            </div>
        </md-toolbar>
        <md-dialog-content style="height:auto !important; overflow:hidden">
            <div layout-gt-xs="row" layout-xs="column" layout-margin layout-wrap style="margin-top:3%;margin-bottom:-9px;">
                <md-datepicker show-gt-sm id="fromDate" ng-change="selectToDate()" name="fromDate" ng-model="user.fromDate" md-placeholder="Leave From" required="">
                    <div class="validation-messages" ng-messages="myForm.dateField.$error">
                        <div ng-message="required">This date is required!</div>
                    </div>
                </md-datepicker>
                <md-input-container show-gt-sm ng-disabled="halfDay" id="days" class="md-block" flex-gt-xs="">
                    <label>Number of Days</label>
                    <input ng-disabled="halfDay" ng-change="to_datePicker()" required type="number" step="any" name="days" min="0" max="90" ng-model="user.numberOfDays" />
                    <div ng-messages="applyForm.days.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
            </div>
            <md-datepicker show-gt-sm ng-disabled="halfDay" id="toDate" ng-change="dayPicker()" name="toDate" ng-model="user.toDate" md-placeholder="Leave To" md-min-date="user.fromDate"></md-datepicker>
            <md-input-container show-gt-sm id="reason" class="md-block">
                <label>Specify Reason</label>

                <input type="text" ng-trim="false" ng-pattern="/[^\s]+/" maxlength="100" md-minlength="1" md-maxlength="100" autocomplete="off" required md-no-asterisk name="description" ng-model="user.description" />
                <div ng-messages="applyForm.description.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        Description is required
                    </div>
                </div>
            </md-input-container>
            <md-input-container show-gt-sm layout="row" layout-xs="column" layout-margin id="leaveTypeRadio">
                <md-radio-group ng-change="special_to_date()" name="leaveType" layout="row" ng-model="user.type" ng-required="true" ng-repeat="item in leaves" class="">
                    <md-radio-button ng-if="item.name!='Plan'" value="{{item.name}}" class="md-primary">{{item.name}}</md-radio-button>
                </md-radio-group>
                <div ng-messages="applyForm.leaveType.$error" ng-if="applyForm.$submitted || applyForm.leaveType.$touched">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <div id="halfDayDiv" layout="row">
                <md-checkbox show-gt-sm ng-change="halfDayCalc()" class="md-primary" ng-model="halfDay" aria-label="Half day"></md-checkbox>
                <p>Half Day Leave</p>
                <div ng-show="halfDay">
                    <md-radio-group id="chooseHalf" layout="row" ng-model="user.halfDaySlot">
                        <md-radio-button value="1" class="md-primary">First Half</md-radio-button>
                        <md-radio-button value="2" class="md-primary">Second Half</md-radio-button>
                    </md-radio-group>
                </div>
            </div>
            <md-input-container ng-show="user.type!='Plan'" show-gt-sm id="approver" class="md-block" flex-gt-sm>
                <label>Approver</label>
                <md-select ng-model="approverId">
                    <md-option style="max-height:28px" ng-click="selectApprover(manager.id)" ng-repeat="manager in managers" value="{{manager.name | uppercase}}">
                        {{manager.name|capitalize}}
                    </md-option>
                </md-select>
            </md-input-container>
        </md-dialog-content>
        <md-dialog-actions Style="padding-left:24px;">
            <md-button class="md-raised md-primary" type="submit" style="margin-right:20px; margin-bottom:15px;">
                Submit
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>



<!-- Mobile view -->


<md-dialog show-xs show-gt-xs hide-sm hide-gt-sm hide-md hide-gt-md hide-lg hide-gt-lg hide-xl id="newRequestDialogBox" ng-class="{minmizeDialog:minimize}" aria-label="New Request" style="position: fixed; bottom: -0.5%;right: 0%;width:auto; min-width:292px;">
    <form id="newRequestForm" name="applyForm_mobile" ng-submit="leaveApply(applyForm.$valid)" novalidate="" enctype="multipart/form-data">
        <md-toolbar style="min-height:50px !important;">
            <div show-gt-sm id="request_toolbar" class="md-toolbar-tools">
                <p id="applyFormTitle">New Request Form</p>
                <span flex></span>
                <a href=""><i class="outline-none" ng-click="minimize=!minimize"><md-icon class="icon-color-grey margin-right-10px" md-svg-src="images/remove_24px.svg" aria-label="minimize dialog"></md-icon></i></a>
                <a href=""><i class="outline-none" ng-click="closeDialog()"><md-icon class="icon-color-grey margin-right-5px" md-svg-src="images/close_18px.svg" aria-label="Close dialog"></md-icon></i></a>
            </div>
        </md-toolbar>
        <md-dialog-content style="height:auto !important;">

            <md-datepicker id="fromDate_mobile" ng-change="selectToDate()" name="fromDate" ng-model="user.fromDate" md-placeholder="Leave From" required="">
                <div class="validation-messages" ng-messages="myForm.dateField.$error">
                    <div ng-message="required">This date is required!</div>
                </div>
            </md-datepicker>
            <md-input-container ng-disabled="halfDay" id="days_mobile" class="md-block" flex-gt-xs="">
                <label>Number of Days</label>
                <input ng-disabled="halfDay" ng-change="to_datePicker()" required type="number" step="any" name="days" min="0" max="90" ng-model="user.numberOfDays" />
                <div ng-messages="applyForm_mobile.days.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>

            <md-datepicker ng-disabled="halfDay" id="toDate_mobile" ng-change="dayPicker()" name="toDate" ng-model="user.toDate" md-placeholder="Leave To" md-min-date="user.fromDate"></md-datepicker>
            <md-input-container show-gt-sm id="reason_mobile" class="md-block">
                <label>Specify Reason</label>

                <input type="text" ng-trim="false" ng-pattern="/[^\s]+/" maxlength="100" md-minlength="1" md-maxlength="100" required md-no-asterisk name="description" ng-model="user.description" />
                <div ng-messages="applyForm_mobile.description.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        Description is required
                    </div>
                </div>
            </md-input-container>
            <md-input-container id="leaveType_mobile" layout="column" layout-margin id="leaveTypeRadio">
                <md-radio-group ng-change="special_to_date()" name="leaveType" layout="row" ng-model="user.type" ng-required="true" ng-repeat="item in leaves" class="">
                    <md-radio-button ng-if="item.name!='Plan'" value="{{item.name}}" class="md-primary">{{item.name}}</md-radio-button>
                </md-radio-group>
                <div ng-messages="applyForm_mobile.leaveType.$error" ng-if="applyForm_mobile.$submitted || applyForm_mobile.leaveType.$touched">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <div>

                <md-checkbox id="halfDayDiv_mobile" ng-change="halfDayCalc()" class="md-primary" ng-model="halfDay" aria-label="Half day">Half Day Leave</md-checkbox>
                <div ng-show="halfDay">
                    <md-radio-group id="chooseHalf_mobile" layout="row" ng-model="user.halfDaySlot">
                        <md-radio-button value="1" class="md-primary">First Half</md-radio-button>
                        <md-radio-button value="2" class="md-primary">Second Half</md-radio-button>
                    </md-radio-group>
                </div>
            </div>
            <md-input-container ng-show="user.type!='Plan'" id="approver_mobile" class="md-block" flex-gt-sm>
                <label>Approver</label>
                <md-select ng-model="approverId">
                    <md-option ng-click="selectApprover(manager.id)" ng-repeat="manager in managers" value="{{manager.name | uppercase}}">
                        {{manager.name|capitalize}}
                    </md-option>
                </md-select>
            </md-input-container>
        </md-dialog-content>
        <md-dialog-actions style="padding-left:24px !important;">
            <md-button class="md-raised md-primary" type="submit" style="margin-right:20px; margin-bottom:15px;">
                Submit
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
