<div style="padding:1%;">
    <h4 style="color:black !important ; margin:9px;">Update Leave</h4>
    <span flex></span>
</div>
<md-divider></md-divider>
<form class="updateFormContainer" name="updateForm" ng-submit="leaveUpdate(updateForm.$valid, updateDetails)" novalidate="" enctype="multipart/form-data">
    <div ng-disabled="updateDetails.status==='Cancellation In Progress'" class="autoMargin" layout="row" layout-sm="row" layout-xs="column">
        <md-datepicker ng-disabled="updateDetails.status==='Cancellation In Progress'" id="dateSection" show-gt-sm ng-change="selectToDate()" name="fromDate" ng-model="updateDetails.fromDate" md-placeholder="Leave From" required="">
            <div class="validation-messages" ng-messages="myForm.dateField.$error">
                <div ng-message="required">This date is required!</div>
            </div>
        </md-datepicker>
        <md-input-container id="daysUpdate" show-gt-sm ng-disabled="halfDay" class="md-block" flex-sm="15">
            <label show-xs show-lg show-md hide-sm>Number of Days</label>
            <label hide-gt-sm hide-md hide-gt-md hide-lg hide-gt-lg hide-xl hide-xs hide-lg hide-md show-sm>Days</label>
            <input id="inputContainerDays" ng-disabled="halfDay || updateDetails.status==='Cancellation In Progress'" ng-change="to_datePicker()" required type="number" step="any" name="days" min="0" max="90" ng-model="updateDetails.numberOfdays" />
            <div ng-messages="applyForm.days.$error">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>
        <md-datepicker id="dateSectionToDate" show-gt-sm ng-disabled="halfDay || updateDetails.status==='Cancellation In Progress'" ng-change="dayPicker()" name="toDate" ng-model="updateDetails.toDate" md-placeholder="Leave To" md-min-date="user.fromDate"></md-datepicker>

    </div>
    <div id="halfDayPicker" layout="row" flex>
        <md-checkbox ng-disabled="updateDetails.status==='Cancellation In Progress'" show-gt-sm ng-change="halfDayCalc()" class="md-primary" ng-model="halfDay" aria-label="Half day"></md-checkbox>
        <p>Half Day Leave</p>
        <div id="halfDayPickerSlot" ng-show="halfDay">
            <md-radio-group ng-disabled="updateDetails.status==='Cancellation In Progress'" layout="row" ng-model="updateDetails.halfDaySlot">
                <md-radio-button value="1" class="md-primary">First Half</md-radio-button>
                <md-radio-button value="2" class="md-primary">Second Half</md-radio-button>
            </md-radio-group>
        </div>
    </div>
    <md-input-container id="commentSection" show-gt-sm class="md-block" flex>
        <label>Comments*</label>

        <input ng-trim="false" ng-pattern="/[^\s]+/" maxlength="100" md-maxlength="100" required md-no-asterisk name="comment" ng-model="updateDetails.comment" />

        <div ng-messages="applyForm.comment.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The comment has to be less than 100 characters long.</div>
        </div>
    </md-input-container>
    <md-button ng-disabled="!updateValue" id="UpdateBtn" class="md-raised md-primary" type="submit">
        Update
    </md-button>
